[2016-10-04 18:13] shirhatti opened #1 "Add documentation for ServiceMonitor.exe"
In the base IIS image, we use `ServiceMonitor.exe` to monitor the `we3svc` service. We need to document this.

[2016-10-04 18:15] shirhatti commented on #1
cc @pan-wang

[2016-10-05 16:35] StefanScherer commented on #1
@shirhatti The `ServiceMonitor.exe` seems like a better solution than the `Wait-Service.ps1` script from https://github.com/Microsoft/Virtualization-Documentation/tree/master/windows-server-container-tools/Wait-Service. Right?
Is there any source code on GitHub available for the tool?
Can others use it to monitor another Windows Service in their Docker images?

[2016-10-05 17:15] StefanScherer opened #2 "Question: How to use environments in IIS websites / web apps?"
One question that some of the Docker Captains are discussing at the moment is how to set some environment variables eg. from the `ENV` or from `docker run -e VAR=val` to be used in IIS web apps.

As IIS is running as a Windows service it does not catch up these environments. What about using such `ServiceMonitor.exe` as `ENTRYPOINT` (or `CMD`)  and set these envs as system environments before star

[2016-10-05 17:47] shirhatti commented on #2
While surfacing environment variables to be used by IIS apps is a reasonable ask that we NEED to address, I'm not convinced that `ServiceMonitor.exe` is the best place to surface it.

Including a few folks who might have an opinion on this @glennc @staceyhaffner @richlander  @pan-wang

[2016-10-05 20:07] shirhatti commented on #1
@StefanScherer Currently you can `ServiceMonitor.exe` to monitor other WIndows Service in your Docker images, however that is not a scenario we have extensively tested.

We are **very** strongly leaning towards releasing the source for ServiceMonitor on GitHub, but I don't have any concrete dates to share just yet. And yes, the IIS team intends for it to be a better solution than `Wait-Service.ps1

[2016-10-05 20:15] StefanScherer commented on #1
@shirhatti Thank you!

[2016-10-05 20:22] friism commented on #2
An alternative would be for the image to run a web.config transform on start that transports Docker environment variables into web.config App Settings and connectionstrings. I suggested that here: https://github.com/Microsoft/Virtualization-Documentation/issues/401#issuecomment-251293311

[2016-10-05 20:45] shirhatti commented on #2
@friism I want to make sure you are not conflating IIS configuration with ASP.NET configuration. We still need a way to say, set up environment variables for use in your PHP application. While what you bring up is important, it is a slightly different problem and I think the solution to that problem will live in the [ASP.NET base image](https://github.com/microsoft/aspnet-docker).

@StefanScherer

[2016-10-11 00:43] glennc commented on #2
Why the desire for this not to be something that `ServiceMonitor.exe` does? Is it not the job of ServiceMonitor to smooth exactly this sort of problem?

[2016-10-11 01:17] shirhatti commented on #2
I'm afraid that auto-magically flowing environment variables would make this rather fragile. A few questions that pop up just off the top of my head
- Should the environment variables only be set for the `DefaultAppPool`?
- What would happen if I'm running my AppPool under a Group Managed Service Account as opposed to an AppPool identity?

In my opinion, `ServiceMonitor.exe` should remain a lightw

[2016-10-11 17:37] glennc commented on #2
I have never thought of `ServiceMonitor` as a lightweight shim. I have thought of it as the way to use IIS inside a container in the way I would expect/want an entrypoint to work. Is that just me?

[2016-10-11 19:10] shirhatti commented on #1
![](https://github.trello.services/images/mini-trello-icon.png) [Add docs for ServiceMonitor.exe](https://trello.com/c/q6e0qLwK/4-add-docs-for-servicemonitor-exe)

[2016-10-11 21:30] pan-wang commented on #2
as dock command will set the environment variable, we only need to restart the WAS service to adopt the variable. One simple solution is to disable WAS server from default iis container image.

[2016-10-12 18:24] glennc commented on #2
@pan-wang Sounds like an easy solution, I like it :).

[2016-10-13 23:45] shirhatti opened #3 "Publish NanoServer images"

[2016-10-17 04:45] benlaan opened #4 "Error: hard links not supported with legacy writer"
D:\Dev\ > docker pull microsoft/aspnet
Using default tag: latest
latest: Pulling from microsoft/aspnet

9c7f9c7d9bc2: Pull complete
de5064718b3f: Extracting [==================================================>] 613.1 MB/613.1 MB
3abe74683942: Download complete
907e871a8de2: Download complete
ba066d7d1bad: Download complete
b8c8a13e99c3: Download complete
failed to register layer: re-exec error: ex

[2016-10-17 07:20] rs38 commented on #4
this disappeared when I switched to the latest 1.12.2 beta of docker. try the new OnGet deployment which ist described in the latest MSDN Container articles for Server.
[see here](https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start/quick_start_windows_server)

[2016-10-17 23:42] shirhatti commented on #4
@benlaan Docker 1.12.2 add support for delta images. You will need to update your docker daemon to consume the new images.
@shhsu Can we update the README to call out this Docker Daemon version requirement?

[2016-10-18 00:26] benlaan commented on #4
I have reverted to 1.12.2 and now I'm getting an issue loading 9c7f9c7d9bc2 and de5064718b3f

They appear to be in an infinite retry loop (retrying in x seconds) however the other images have worked

Eventually it times out with the following output:

Using default tag: latest
latest: Pulling from microsoft/aspnet
9c7f9c7d9bc2: Downloading
de5064718b3f: Downloading
3abe74683942: Download complete

[2016-10-18 00:38] shirhatti commented on #4
Ahh.

The reason the base layer shows up as an unknown blob is because you are currently trying to run this as an Linux container.

Version: 1.12.2
API version: 1.24
Go version: go1.6.3
Git commit: bb80604
Built: Tue Oct 11 05:27:08 2016
OS/Arch: **linux/amd64**
Experimental: true

Docker for Windows allow you to switch between Windows and Linux containers. If you did install Docker for Windows yo

[2016-10-18 02:49] benlaan commented on #4
Great! I thought I had actually done that.. it is working now!
I'll see if I get past the original issue

Thanks

[2016-10-18 16:15] scrambledheads opened #5 "403 Error"
I followed the instructions on this page with a File.. New Asp.Net 4.6.2 site but when I try to access the site (via the IP given using docker inspect and port 8000) I get 403 - Forbidden: Access is denied

I'm not sure if this is a copy of https://github.com/Microsoft/Virtualization-Documentation/issues/181

but if not to repro follow the steps as outlined in the readme.md using a default 4.6.2 f

[2016-10-19 05:22] benlaan commented on #4
Thanks.! All working now

[2016-10-19 05:22] #4 closed

[2016-10-20 22:10] shhsu commented on #3
Done

[2016-10-20 22:10] #3 closed

[2016-10-28 12:00] jabbera commented on #3
While the image itself is useful is there a list of all the other cab components available for download and their locations? https://az880830.vo.msecnd.net/nanoserver-ga-2016/ isn't browsable.

https://github.com/Microsoft/iis-docker/blob/shhsu/nano/nanoserver/Dockerfile

Thanks!
Mike

[2016-10-28 16:10] shhsu commented on #3
Try these

https://nanoserverpackage.blob.core.windows.net/nanoserver-ga-2016/searchNanoServerIndex.txt

[2016-10-31 07:09] sixeyed commented on #1
@shirhatti any update on making the source for `ServiceMonitor` available? It would be great to standardise on one tool for this, and if it had its own repo we could extend it (e.g. adding a web server to the `ServiceMonitor` so we could check service status from outside the container).

[2016-11-02 10:07] rs38 opened #7 "Dockerfile creating with CMD instead of ENTRYPOINT?"
As I understood: the microsoft/iis images is build with a docker file that uses ENTRYPOINT ["C:\ServiceMonitor.exe", "w3svc"] at the end. This is not overridable with the docker run, as it would be with dockerfile created with CMD instead of ENTRYPOINT.

what is the exact purpose of choosing either way?

#https://github.com/Microsoft/Virtualization-Documentation/issues/400

[2016-11-02 18:08] shirhatti commented on #1
@sixeyed Nothing yet, but hang tight. I promise it's on the way.

[2016-11-02 18:15] shirhatti commented on #7
Not sure I follow your question.

You can override the entrypoint at docker run time. Try this example below
[code]

[2016-11-02 19:31] rs38 commented on #7
you are perfectly right. Only the docs (-> see link) were incorrect.

[2016-11-02 19:31] #7 closed

[2016-11-03 01:22] donbecker opened #8 "Issue connecting to interactive session using this container on AWS"
Hi, I'm trying to use this container image on AWS Server 2016 AMI's but it does not seem to work.

I have been able to create my own container having the IIS feature in it and that seems to work.

[http://stackoverflow.com/questions/40391896/cannot-launch-interactive-session-in-windows-iis-docker-container](url)

[2016-11-03 01:39] donbecker commented on #8
I'm closing this as I believe I've found why it is not working...I did not yet understand how entrypoint worked. I've updated my SO question in the link above with more detail.

[2016-11-03 01:39] #8 closed

[2016-11-11 18:31] shirhatti commented on #5
Is your image on DockerHub? I can pull it down locally and have a look?
(Sorry for the late reply)

[2016-11-17 21:38] eyem4usf opened #10 "Question: How to get terminal into microsoft/iis container"
've used the microsoft/iis image in a docker file that creates a site and copies files into the site's directory. Whenever I run the container I get a 404 file not found. I want to look into the container and see if something got messed up with the file copy. I use the command:

docker run -it -p 80:8000 microsoft/iis:2.0

to run the container. If I use the same command and put "cmd" or "powershel

[2016-11-17 22:39] shirhatti commented on #10
You have a couple of options here:
* You could override the entrypoint by doing `docker run -it --entrypoint powershell microsoft/iis`. This will start your container with `powershell` as the entrypoint application as opposed to `ServiceMonitor.exe`.
* The other option is to start your container in detached mode `docker run -d microsoft/iis` and then connect to your container using `docker exec -i

[2016-11-21 13:48] b-overgard opened #11 "Downloading: Unknown blob"
Windows 7, docker toolbox 1.12.2. Going to test again with 1.13. Using the dockerfile from the readme.

$ docker -v
Docker version 1.12.2, build bb80604

$ uname -a
MINGW64_NT-6.1 <Computer Name Here> 2.3.0(0.290/5/3) 2015-09-29 10:48 x86_64 Msys

$ docker build -t iis-site .
Sending build context to Docker daemon 2.048 kB
Step 1 : FROM microsoft/iis
latest: Pulling from microsoft/iis
9c7f9c7d9bc2

[2016-11-21 19:33] shirhatti commented on #11
Can you try running `& 'C:\Program Files\Docker\Docker\DockerCli.exe' -SwitchDaemon`?
Make sure you are using windows daemon and not linux

[2016-11-22 15:28] kwaazaar opened #12 "Please provide guidance on these images"
- Nano vs Core: which to use when
- What Dockerfile-content is needed to support WCF (HTTP-activation, etc)
- What volumes to mount to get access to IIS-logfiles, app-logfiles, etc.
- How to run .NET Core sites/api's (Kestrel, etc)

... Or supply links to where this information is available on the web.

[2016-11-23 13:22] alexsandro-xpt opened #13 "Install MSI error, how to install it?"
I'm trying build my own image from this `FROM microsoft/iis` with this Dockerfile:
[code]

But, when install the Crystal Report MSI, I get an error:
`Step 9/13 : RUN msiexec.exe /i C:\cry\CRRuntime_64bit_13_0_5.msi /qn ---> Running in 7afd22e7a600The command 'msiexec.exe /i C:\cry\CRRuntime_64bit_13_0_5.msi /qn' returned a non-zero code: 1603`

Whats is wrong ?
The MSI Crystal Reports file is: htt

[2016-11-30 17:21] dlhansford opened #14 "Cannot attached to container"
Whenever I start a new container in interactive mode, I find myself stuck at the "Service 'w3svc' started" prompt and am unable to navigate away from there. Unless I Ctrl-C to stop the container.

[2016-11-30 19:55] shirhatti commented on #14
You can override the entrypoint at docker run time from `ServiceMonitor.exe` to something else. Try this example below

[code]

[2016-12-03 07:31] hmdhasani opened #15 "Connect to Dockerized IIS remotely"
Is there any way to connect to the inside container IIS from an IIS Manager so I could have a GUI Access to that IIS?

[2016-12-03 07:41] hmdhasani commented on #15
I followed this:
https://technet.microsoft.com/en-us/library/dn198619.aspx
and it seems that my IIS Manager could see the IIS but I got Authentication error. It seems the user must be ContainerManager but I don't know the password

[2016-12-05 16:59] artisticcheese opened #16 "What username/password can be used to access image remotely?"
Hello,

I can see I can attach to runnning container with Enter-PsSession with "containeruser" account. That account does not seems to be having admin priviliges requried to create another admin account neither can be used for remote managment of server since password is not known.
How exactly you can work with container with UI based tools (Event Viewer, IIS Manager, Computer Manager etc)?

[2016-12-06 06:59] mjpearse commented on #16
Have the same (or very similar) question.
When running images like this or microsoft/nanoserver directly in windows 10, I can't find where the password for the administrator account is documented, and because it is not running in hyper-v as a vhd, I can't get at the nano lite console to set a password.

[2016-12-06 08:17] hmdhasani commented on #16
this is my question too
#15

[2016-12-06 23:09] mjpearse commented on #16
I figured something out that looks to give me remote powershell as an admin.

From powershell on your host (in my case my windows 10 box which is running some test containers), run:
Enter-PSSession -ContainerId (Get-Container nameofyourrunningcontainer).ID  -RunAsAdministrator

The -ContainerId switch looks to have been added to Enter-PSSession in 5.1.

[2016-12-06 23:15] artisticcheese commented on #16
You sure you are admin? Can you try to enable local admininstrator account or something which requires admin privileges.

[2016-12-06 23:54] shirhatti commented on #16
It possible to connect to a container as an administrator user and create a local admin account which you can use to connect remotely with IIS Manager. I'll provide more details for the folks who want to try it out but I must caveat this advice since I don't full understand the security implications of doing it this way.

We are also investigating using whether it more secure to use to https://git

[2016-12-07 00:03] artisticcheese commented on #16
Issue is not just using IIS manager but in general any remote administration tools like event viewer,  server manager etc

[2016-12-07 00:07] shirhatti commented on #16
Be sure to expose port 8172 in the container, that is the port that WMSVC listens to by default.

[code]
[code]

[2016-12-07 00:09] shirhatti commented on #15
Closing as dupe of #16

[2016-12-07 00:09] #15 closed

[2016-12-07 00:09] #14 closed

[2016-12-07 17:03] artisticcheese commented on #16
Confirmed that Enter-PSSession -RunAsAdministrator works as well
[code]

[2016-12-07 20:23] #16 closed

[2016-12-19 20:20] 16bytes opened #17 "Can not install Application Request Routing via WebPlatformInstaller"
After following the instructions for the [Windows 10 Quick Start](https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start/quick_start_windows_10), I tried to install and configure [ARR](https://www.iis.net/downloads/microsoft/application-request-routing) using the [Web platform tools cmd](https://www.iis.net/learn/install/web-platform-installer/web-platform-installer-v4-comma

[2016-12-20 15:10] hqer2k9 commented on #13
Hey There, i got a similar error while running a different exe (appcmd for iis) and the reason it failed was because i didn't gave the full path to the exe, hope it helps.

[2016-12-24 19:07] cpunella commented on #17
I have the same issue installing UrlRewrite 2.0... any suggestion?

[2016-12-25 00:53] alexsandro-xpt commented on #13
My exe is a `msiexec.exe`. Are you tould me, I should put a full path like this? `c:\windows\system32\msiexec.exe`

[2016-12-27 16:33] hqer2k9 commented on #17
hey there,

to shed some light into the darkness:
starting a powershell process that downloads a *.msi file and executing it afterwards is pretty nice but it wont work the way you want it.

what you wanna do is either one of these two things:
1. use the ADD command from docker to directly download your file (the add command can do this)
and run if afterwards
[code]
**you have to tell the MSI insta

[2016-12-27 16:37] hqer2k9 commented on #13
Hey there,

you have to tell the MSI installer to run in queit and passive mode like this, since it cannot display a UI and so on

`RUN msiexec C:\Cry\CRRuntime_64bit_13_0_5.msi /quiet /qn /passive`

you can also use the ADD command if its a internet download, like this:
`ADD https://apurafacil.blob.core.windows.net/candidatos/CRRuntime_64bit_13_0_5.msi`
so you dont have to manually add it

hope t

[2016-12-27 16:47] hqer2k9 commented on #5
hey there, a little bit late but maybe it helps:

you can add a local user to the admin group of the container and browse/access your iis app with it

[2016-12-27 20:04] 16bytes commented on #17
Thanks for the tips on msi usage @hqer2k9, but it doesn't appear help in the case of using the web platform installer.

The WPI msi does complete successfully, because the `WebpiCmd` is available.

I've also tried to install ARR and its dependencies via MSI using the following instructions:

https://blogs.technet.microsoft.com/erezs_iis_blog/2013/11/27/installing-arr-manually-without-webpi/

In th

[2017-01-05 00:52] artisticcheese opened #18 "How do you use UI tools with Microsoft containers?"
Hello,

I figured out how to use IIS manager to remotely manage IIS container by creating local username/password, adding it to Adminstrators group, installing IIS management service and configure it to allow remote connections. I can not make work any sort of remote administration tools like EventViewer for example. I suspect it's because Microsoft disabled "srvnet" service and all relevant depen

[2017-01-05 18:27] shirhatti commented on #18
@patricklang What's the best guidance to give to folks trying retrieve EventLogs?

[2017-01-05 18:36] PatrickLang commented on #18
PowerShell or wevtutil.exe are the only options right now. I would also consider tools for central logging collection such as OMS, Splunk, or similar so that you can gather all logs in one place. This is doubly important if you're going to be doing blue/green deployments where you replace the running containers on a regular basis rather than keeping them running for a long time.

Please share your

[2017-01-08 15:03] artisticcheese commented on #18
Anybody running into this issue please upvote this suggestion (https://windowsserver.uservoice.com/forums/304624-containers/suggestions/17660338-enable-server-service-and-mmc-ui-management-capa)
The more I work with containers in current incarnation then more I question wether I will be able to sell idea of using containers for either new or old applications to developers because it's supposed to

[2017-01-09 10:06] rs38 commented on #18
I think it contradicts with the container philosophy to have UIs attached to it in order to manage them. The same is true for logging: as container are only a temporary entitiy it would make more sense that they PUSH their logs to a central data sink instead being queried?!

[2017-01-09 12:49] artisticcheese commented on #18
How does it contract with methodology? Containers still don't have UI, this UI is used externally to manage running containers for debugging/maintenance purposes. I know very few companies which using Server Core exclusively for production workloads and even those still rely on external tools for day to day administration. Completely removing essential tool like event log was mistake on Microsoft'

[2017-01-09 13:08] rs38 commented on #18
I disagree! I think you will take the wrong direction if you rely on exposing API for GUIs.
the way to deal with containers is not the same as with some normal headless windows servers.
Containers should be quite stateless and every step you take by GUI tools may help in the first view, but you cannot automate things as it should be.
What kind of sense it would make to expose a mgmt API for a cont

[2017-01-09 13:11] artisticcheese commented on #18
I'm not asking to enable UI and remove command line management tools but instead to enable UI and still leave command management tools. There is a reason why Windows became so popular and it's due to UI and being user friendly. You can still have UI and fully automatable solution, they do not contract to each other at all (see Nano server for example).

[2017-01-10 12:01] rs38 commented on #18
so feel free to configure your container images as you need it, but I think it is the right way NOT to enable them as default.

[2017-01-10 12:30] artisticcheese commented on #18
It's impossible to enabled it. Microsoft on purpose castrated image for some reason.

[2017-01-10 13:03] rs38 commented on #18
just tested a servercore image and srvnet runs fine...

[2017-01-10 13:09] artisticcheese commented on #18
Wondering if it's only microsoft/iis which is castrated. It does not start on microsoft/iis at all. Checking it.

[2017-01-10 13:27] artisticcheese commented on #18
srvany does not work on servercore image either for me? Are you sure it's running fine for you?

[2017-01-10 14:05] rs38 commented on #18
yes, all dependend services of lanmanserver are running fine. but lanmanserver stops with an error
"the server service terminated with the following error: %%2"

probably you need to set the role/feature for files services before (which I did not)

[2017-01-10 14:07] artisticcheese commented on #18
This is on microsoft/windowservercore image? I downloaded fresh one from docker hub and can not start srvnet service.

[2017-01-10 14:12] rs38 commented on #18
my image was pulled/updated 1-2 months ago.

please check `get-windowsfeature fs-fileserver`

[2017-01-10 14:16] artisticcheese commented on #18
Nope did not work neither on iis or servercoreimage I just pulled. Here is image I used (latest available)

`microsoft/windowsservercore   latest              7baaa272ad7d        4 weeks ago         9.42 GB`

[2017-01-10 14:23] rs38 commented on #18
I tested with core image 10.0.14393.447

[2017-01-10 14:50] artisticcheese commented on #18
Installed the same image as yours and still can not start that service (srvnet). This seems to be difference between Hyper-V container and process container. When I run this on Hyper-V container on Windows 10 it fails to start but works fine on Windows 2016 in process container.

[2017-01-10 15:07] rs38 commented on #18
indeed I tested as Win 2016 server container

[2017-01-10 15:08] artisticcheese commented on #18
Well even with srvnet service running and File-Services installed it's still not working. Server service can not be started.

[2017-01-10 16:54] rs38 commented on #18
I think this will be a bug it does not sound like exactly intended. You should place it in one of the support groups or may be digging deeper by yourself und debug the root cause...

[2017-01-12 13:22] petrck opened #19 "Binding site with current domain"
Hi, I apologize, for maybe stupid question, but I'm not sure if I understand how to bind my new site, with production domain. If I create new site and register port with IP address my server, everything works well (for example: http://1.1.1.1). But how can I say, my site demo, on address server 1.1.1.1 will be accessible at www.mydemo.com. IIS without docker can solve this. Is it possible do this

[2017-01-12 14:52] ateimoo commented on #11
I just tried running Docker Toolbox on Windows 10 Home.
Docker runs but you can't pull any Windows images since you're piping all commands through a Linux VM (on Virtualbox) and so the daemon is linux!!! This is not mentioned anywhere!!! Ridiculous...

[2017-01-12 14:55] b-overgard commented on #11
Devs, please note in the readme that the image does not run with docker toolbox. A full install of docker is needed.

[2017-01-12 17:38] ryaker opened #20 "I would like to deploy this to ServiceFabric"
I would like to deploy this to ServiceFabric. The deploy works, but I can't seem to figure out how to configure correctly to hit IIS running on port 80 in the container. Being able to create containers with our legacy web apps, and WCF services and deploy to ServiceFabric will be a game changer here.  Any help would be appreciated.

[2017-01-13 23:26] shirhatti commented on #20
@glennc Do you know who can help with ServiceFabric?

[2017-01-15 09:20] sandersaares opened #21 "Latest windowsservercore-10.0.14393.693 suspiciously large"
I noticed for windowsservercore-10.0.14393.693 a 4+ GB layer is downloaded. This does not match with previous versions, which were in the hundreds of MB as far as I recall.

I lack the Docker expertise to diagnose but it feels like the Windows base layer was also re-downloaded for no reason. Possibly caused by https://github.com/docker/docker/issues/30080 ?

[2017-01-17 19:24] shirhatti commented on #11
@ateimoo I understand your frustration, however we do mention in the README that [microsoft/iis is a Windows container image](https://github.com/Microsoft/iis-docker#iis-docker-image).
Your feedback is duly noted, we will consider revising the readme or adding an FAQ to bring attention to the issue that you bring up

[2017-01-17 19:47] shirhatti commented on #21
@sandersaares Thanks for catching that, and yes it was caused by the linked bug.
We're about to purge our offending images and re-upload images to DockerHub.

[2017-01-20 10:06] hqer2k9 opened #22 "WebFarm Framework installed but cant create WebFarm"
Installed the newest WebFarm Framework successfully on the Docker Container, but cant create a WebFarm since the option to do this is missing. (Server-Farm not showing)

am i missing something?

[2017-01-20 12:02] hqer2k9 opened #23 "MSI Packages are not getting installed (no negative docker feedback)"
When installing MSI packages, i noticed that it builds successfully, but packages are not installed. There is no error message or other stuff coming up.

2 Methods that i use:

**1.  Method:**
[code]

**2. Method:**
[code]

The http link method successfully installs the MSI file without returning any error.
But it does not show up, installed URL REWRITE or ARR or any other stuff but it's just not

[2017-01-21 01:09] shirhatti commented on #21
This was fixed on 1/18.
New images are available on DockerHub.

[2017-01-21 01:09] #21 closed

[2017-01-21 01:10] #10 closed

[2017-01-23 22:01] artisticcheese commented on #16
Here is detailed step by step how this works
https://github.com/artisticcheese/artisticcheesecontainer/wiki

[2017-01-24 09:19] cozyazure commented on #5
Hey there, I am still stuck at this too. The image is `built` and `ran` properly, but whenever i visit the binded port, it always gives me `403` error. Is there anyway we can resolve this via commandline?

[2017-01-24 09:43] hqer2k9 commented on #5
issues i faced where also 403, i resolved it the following way:

1. Adding a user so i can connect trough IIS Manager:
[code]

2. Grant Permissions:
`RUN icacls "C:\IIS\*" /grant everyone:(OI)(CI)F /T`

3.  Install neccassary features
[code]

4.  Start Service and make it autorun
[code]

[code]

5. Expose Ports
[code]

6. Last step:
On the IIS Server Node, go to "Feature Delegation" and give Read/

[2017-01-29 00:43] kendrahavens commented on #5
I was stuck on this issue until I determined my app was not being published to an accessible folder. Note: I only ran into this problem using the windowsservercore image. My `COPY` line was incorrectly:
[code]
I changed it to the line below and it worked perfectly:
[code]
Hope this helps a few people running into the 403 error. Note: you still have to hit the container ip directly by running `dock

[2017-02-07 20:07] shhsu opened #24 "Add Expose directive"
The IIS dockerfile does not have a expose directive to expose port 80. This makes the port inaccessible within the Virtual Network.

The directive needs to be added. This would also fix aspnet docker image as iis image is its extension.

[2017-02-07 20:13] shhsu commented on #24
#25
@shirhatti

[2017-02-10 10:31] rs2 opened #26 "windowsservercore images not available. Please repost to dockerhub"
[code]

[2017-02-21 03:08] wxb1 opened #27 "the operation timed out... (containers on windows 10)"
C:\WINDOWS\system32>docker run -it microsoft/iis cmd
docker: Error response from daemon: container dd196647758cf92828efd44934cb4862b4117dc4a556b20c5de8ee54c0b59d33 encountered an error during Start: failure in a Windows system call: The operation timed out because a response was not received from the Virtual Machine hosting the Container. (0xc0370109).

[2017-02-21 23:29] shirhatti commented on #27
@patricklang Do you know how to diagnose this problem?

[2017-02-24 06:12] zaxfenfeiyu commented on #26
+1

[2017-02-25 23:38] mrichman opened #28 "Unlocking config sections breaks IIS"
In my Dockerfile, I need to unlock several config sections as follows:

`RUN & c:\windows\system32\inetsrv\appcmd.exe unlock config /section:system.web/authentication`

My app requires `<authentication mode="Windows" />`.

In my container, IIS works fine until I run this command in my image. Then I get this error using the PS command `Get-EventLog application -newest 1 | format-list`:

I also trie

[2017-02-26 19:41] #28 closed

[2017-02-28 18:51] kristian-b opened #29 "manifest for microsoft/iis:nanoserver not found"
Hello,

If I try to pull the microsoft/iis:nanoserver image (`docker pull microsoft/iis:nanoserver`), I get the following error:
`Error response from daemon: manifest for microsoft/iis:nanoserver not found`

What am I doing wrong?

My environment:
- Windows 10 Pro 14393.693
- Docker 1.13.1 (10072)

[2017-03-01 02:09] shirhatti commented on #29
I'm guessing it had to with the [Docker Registry outage today morning](https://twitter.com/dockerstatus/status/836635110539575296).
Feel free to re-open if your issue persists.

[2017-03-01 02:09] #29 closed

[2017-03-01 10:08] kristian-b commented on #29
Thank you, now it works. :)

[2017-03-01 13:52] tomaszgawlik commented on #17
Is there any reason why Web Platform Installer shouldn't work ?
To eliminate networking problem I've tried using WPI with "offline" mode so:
locally on my machine:
`WebPICMD.exe /Offline /Products:ARRv3_0 /Path:c:\OfflineCache`

in dockerfile:

[code]

but still no luck. Log is similar to @16bytes one.
Did anyone succeeded with this task ?

[2017-03-03 19:50] rfeltis-alaska commented on #2
Any update on this? We are attempting to carry the same Docker image through multiple environments, but send in configuration changes as environment variables. If we have to modify our Dockerfile, then we have to build separate images for each environment. Not ideal.

[2017-03-08 04:34] richlander commented on #2
A little off-topic  ...

@rfeltis-alaska I'm curious ... are you using the microsoft/iis image directly? What type of application are you deploying (ASP.NET, PHP, ...)?

[2017-03-08 05:20] ralphflywheel commented on #2
@richlander our image is based off of the microsoft/iis:windowsservercore family. We are deploying an ASP.NET WebAPI project.

[2017-03-08 05:27] richlander commented on #2
Any reason to not use the aspnet image? We believe that many people are following your pattern and are wondering why. It's not a problem, just wondering why the aspnet image isn't a compelling option for you.

[2017-03-08 05:46] ralphflywheel commented on #2
I think discoverability is a bit of a problem. I didn't know that there was an aspnet image. Most tutorials out there start you off with microsoft/iis. That being said, there isn't a ton of value being added from the aspnet Dockerfile. We already need to add more IIS features than the aspnet image brings (such as App Initialization) so we're going to be making an intermediate container anyway. I t

[2017-03-08 05:48] ralphflywheel commented on #2
Here are the first two relevant Google searches for "docker iis":

http://blog.alexellis.io/run-iis-asp-net-on-windows-10-with-docker/

https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/quick-start-images

[2017-03-08 05:53] richlander commented on #2
Thanks for the feedback! I suspect you nailed it.

[2017-03-08 18:11] Cryowatt opened #30 "HTTPS best practices?"
What are the best practices for hosting an HTTPS website from within an IIS docker container?

[2017-03-08 20:38] #24 closed

[2017-03-08 21:03] shirhatti commented on #19
You can use IIS-Administration PowerShell cmdlets or use `appcmd` to create a new binding.

Here's how to create a new binding in PowerShell
[code]
Additionally, I'd recommend looking at [Jeong Hwan's blog on using PowerShell to configure IIS](https://blogs.iis.net/jeonghwan/how-to-use-iisadministration-powershell-cmdlets-to-configure-iis-configuration-settings).

Feel free to reopen if you are st

[2017-03-08 21:03] #19 closed

[2017-03-08 21:12] shirhatti commented on #26
I suspect your version of the docker CLI is out of date. Try updating docker and try again.
If you are still having difficulties, please share the output of `docker version`.

[2017-03-08 21:18] rs2 commented on #26
@shirhatti You are correct.
1. `docker-machine upgrade default`
2. profit

[2017-03-08 21:18] #26 closed

[2017-03-13 19:53] richlander opened #31 "Where is the source for ServiceMonitor.exe?"
It should either be available or an attribution of where it comes from.

[2017-03-13 22:11] ratebeerjoet commented on #27
Were you able to fix this?

[2017-03-13 22:14] PatrickLang commented on #27
I haven't been able to reproduce it. Does `docker run -it Microsoft/nanoserver` succeed?

Also try the scripts here:
https://docs.microsoft.com/en-us/virtualization/windowscontainers/troubleshooting

[2017-03-13 22:28] ratebeerjoet commented on #27
@PatrickLang I'm testing this right now. docker insisted on "microsoft" in lower case, syntactically. I'll feed back shortly.

[2017-03-13 22:39] ratebeerjoet commented on #27
It worked! Thanks

[2017-03-13 22:44] PatrickLang commented on #27
what about `microsoft/windowsservercore` ?

[2017-03-13 22:48] PatrickLang commented on #27
@ratebeerjoet sorry about the caps. Docker does insist on lowercase but my browser autocorrects. Grrr

[2017-03-14 06:46] IanCodeGG commented on #27
I have seen this before, when running within VMWare Fusion with insufficient resources allocated.

[2017-03-17 12:27] Geekays opened #32 "How may I access the web application from remote?"
The docker IIS documentation says:

So, what is the way out to be able to publish a web application to the internet using Docker? I just tried publishing my web application. I could create docker image, publish and run it on a VM on Azure. However, I am not finding a way to share this with anyone as the web application is not available on the IP of the VM.

Can someone help me?

[2017-03-17 21:45] shirhatti commented on #32
I'm sorry the description of the WinNAT limitation was a little brief. I'd recommend reading [this WinNAT blog post](https://blogs.technet.microsoft.com/virtualization/2016/05/25/windows-nat-winnat-capabilities-and-limitations/) and especially have a look at the `Accessing internal endpoints directly from the Host` section.

If I had to guess what's wrong in your setup, I suspect the network secur

[2017-03-18 04:50] Geekays commented on #32
Thanks.

However, what is elaborated in the section

 in the blog, still does not answer how an end user can access the application from internet.

Let us refer to the section:

So, does it mean I can access the application using the hosts IP/port from another VM that shares the same NAT host? What happens to someone who wish to access it from a different location (for me outside Azure) and need t

[2017-03-20 18:29] shirhatti commented on #32
Let's say you create a container on your host and set up a port mapping, `docker run -d -p 8080:80 microsoft/iis`
Your service running on port 80 inside the container will be accessible externally at `http://public-ip-of-container-host:8080`

Adding to my previous suggestion. Make sure the network security group of you Azure VM allows access to port 8080 (in this example) on the container host.

[2017-03-22 12:01] Novex commented on #13
@alexsandro-xpt did you ever end up getting the Crystal Reports runtime installed?

I'm seeing the same problems you mentioned here and [in this forum thread](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/792e7300-9b59-420c-b1bb-ece6d2142966/error-install-msi-at-microsoftiis-image).

[2017-03-22 17:14] Geekays commented on #32
Thanks. NSG was holding me back!

[2017-03-22 17:14] #32 closed

[2017-03-22 21:58] alexsandro-xpt commented on #13
@Novex no success yet, the trully is I stop to try.

[2017-04-05 13:24] thepill opened #33 ".NET Core Windows Server Hosting bundle"
The asp.net documentation https://docs.microsoft.com/en-us/aspnet/core/publishing/iis mentions that the .NET Core Windows Server Hosting bundle is needed to run a ASP.NET core application.

When trying to install the bundle via msiexe following error occures:

[code]

[2017-04-05 18:20] shirhatti commented on #33
The server hosting bundle in an exe and not an msi.

Try running `.\DotNetCore.1.0.4_1.1.1-WindowsHosting.exe /quiet /install`.

[2017-04-05 19:04] thepill commented on #33
this isn´t working when used in the Dockerfile like this `RUN .\DotNetCore.exe /quiet /install`.

If i exec into the container and run it `RUN .\DotNetCore.exe /quiet` it is working

Dockerfile:

[code]

[2017-04-05 19:38] thepill commented on #33
if i place the command `RUN .\DotNetCore.exe /quiet /install`on the second last line before `EXPOSE 80` it works. Seems like something is overwriting the filesystem. Is this normal?

[2017-04-11 11:16] volak commented on #2
:+1: I'll need a way to pass environmental variables into my microsoft/iis docker image for configs across multiple environments.
This `appcmd.exe` solution gets a variable set but `-e` doesn't work, which is kinda the whole point

[2017-04-11 18:09] shirhatti commented on #33
I'm not observing the same behavior. Can you share your installer logs from inside the container so I can further investigate?

I need the content of all these files `Get-ChildItem -Filter "*Core*.log" -Path $env:temp`

[2017-04-18 03:30] rgarita commented on #30
Hello @Cryowatt  i'm trying to do the same thing,,,  any idea,,, were you able to made some progress on this topic?

[2017-04-19 10:42] thepill commented on #33
I really don´t know why - but it is no working each time...
closing this - thank you @shirhatti

[2017-04-19 10:42] #33 closed

[2017-04-19 15:29] sharushetty commented on #2
I'm facing the exact same problem as @rfeltis-alaska and @volak. Do we have any solution to this problem yet?

Currently I'm setting the environment variable by putting the below line within my docker file:

RUN setx /m Env_Variable1 123456

But the above environment variable's value is client specific and I would like to know if there is a way I can set this value during docker run and not hard c

[2017-04-19 23:31] shirhatti commented on #2
@volak @sharushetty I understand that the current model where you cannot pass environment variables directly from docker run is extremely limiting. As a short-term solution, we'll update `ServiceMonitor.exe` to automatically flow the environment variables.

In the meanwhile, we have also been making investments around allowing you to run `w3wp.exe` standalone without the burden of WAS or W3SVC. In

[2017-04-26 21:38] jontreynes commented on #11
I am having the same issue trying to build iis with image2docker
PS C:\i2d2\iis> docker build -t i2d2/app_vm .
Sending build context to Docker daemon 21.42 MB

Step 1/10 : FROM microsoft/aspnet:windowsservercore-10.0.14393.1066
windowsservercore-10.0.14393.1066: Pulling from microsoft/aspnet
3889bb8d808b: Pulling fs layer
6d4d50238ed1: Pulling fs layer
0606d7d474d1: Pulling fs layer
672755d284cd:

[2017-04-27 02:33] mnishizawa opened #34 "Will this run classic ASP?"
I have a classic ASP site I'd like to test locally.

[2017-04-27 21:53] jontreynes commented on #11
Wow, I'm dumb. I didn't run the SwitchDaemon with '&' which is suppose to restart your machine. That worked for me.
It would be nice if the build told you that you might be running the wrong daemon because unknown blob is not very helpful

[2017-05-05 07:30] 9Rune5 commented on #30
I would love to see some discussion about this.

From my POV it would be a very neat trick if I could simply tell the container what its DNS entry is and it will take care of generating a private key as well as contacting letsencrypt to acquire a publicly trusted certificate.

[2017-05-05 12:57] thepill commented on #33
@shirhatti i stumbled over this problem once more and thought about including this in this base image. Is this reasonable?

[2017-05-05 16:29] shirhatti commented on #33
Unfortunately, no. The iis base image is used for workloads other just ASP.NET Core.
If there's enough demand, we can consider publishing an ASP.NET Core image with IIS and the Server Hosting bundle. However, we have no plans at the moment

[2017-05-08 13:13] AlexandreOuellet commented on #33
an iis + aspnetcore image would be quite useful, as I am also struggling to get this working (our webapp can use many different authentication, Windows Authentication being one of them, and is not available under linux yet)

[2017-05-08 13:44] thepill commented on #33
@AlexandreOuellet i managed to run aspnetcore (net461) + iis running on docker on windows using a gMSA (group managed service account) to authenticate to Active Directory (using Directory Services to obtain some information from the AD)

[2017-05-10 07:30] KevinVording opened #35 "Can I allow IIS to output detailed errors in a container running an MVC project? I only get static "Internal Server Error" without any information."
Pretty much as the title says.

As part of my internship its my job to find out if Docker is a valid solution for the company.

I have some projects that run inside a container perfectly fine after fiddling with the settings and or dockerfile, but I've been stuck for 2 weeks on one particular project right now. Every http error is the same in the sense there is no information at all where the erro

[2017-05-12 01:16] shirhatti commented on #35
By default, IIS hides detailed error pages for remote connections. You can always enable them from your `web.config`

[code]

Word of **caution** though, detailed error pages can leak implementation details about your site, it is a security vulnerability to flow this information to the end user.

[2017-05-12 01:16] shirhatti commented on #35
Feel free to re-open if you continue to have issues.

[2017-05-12 01:16] #35 closed

[2017-05-12 05:26] sandersaares opened #36 "Images are out of date"
microsoft/windowsservercore:10.0.14393.1198 was published several days ago, yet there are no matching iis images.

[2017-05-15 04:11] gregpakes commented on #34
Yes - You just need to install the role.

[code]

[2017-05-15 08:28] KevinVording commented on #35
In my post I stated that the project contains both those elements, but IIS in docker does nothing with that information in the web.config.

I managed to remote login onto the containerized IIS server and found out I had to set it to detailed in IIS itself. I found out what my problem was, a module in IIS that's not installed by default called a "Rewrite Module" for URL rewrites.

However now I am

[2017-05-15 22:33] shirhatti commented on #36
We've published the images earlier today. Sorry about that

[2017-05-15 22:33] #36 closed

[2017-05-16 09:06] KevinVording opened #37 "redirection.config Error: Cannot read configuration file due to insufficient permissions"
I feel like I've almost got this project running after quite some time of trial and error. Now this error popped up. Is there anyone who knows what might cause this?

[2017-05-17 09:29] KevinVording commented on #37
I managed to get everything working... redirection to https was the culprit, everything is up and running now.

[2017-05-17 09:29] #37 closed

[2017-05-18 08:33] technocrat000 commented on #23
I have the same problem with docker 17.03.1-ee-3, build 3fcee33  on Windows Server 2016.  I used 2-nd method from hqer2k9's post.  docker build just hangs at RUN step

[2017-05-18 08:51] ravindravv commented on #5
Hi All, This is Ravi, my docker engine runnin gon windows 2016 physical machine. I pulled all images like iis, dotnet, aspnet, sql ... I successfully deployed musicstore application on the same machine. Now, I am trying to my In-house application containerization. i can able to build the image and run successfully. I am getting 403 error while the same by using container IP. Could you please help

[2017-05-18 17:00] shirhatti commented on #5
It's hard to diagnose why you might be getting a 403 without more information. If you have your image pushed to DockerHub, I can pull it down and have a look?

My first guess with no additional information is that your file ACLs might prevent the AppPoolIdentity from accessing your application contents. Try ensuring the `IUSRS` group has access to the folder where your application exists.

[2017-05-19 07:52] ravindravv commented on #5
Hi Shirhatti... Thanks for your reply.... Could you please provide your mail id to share all my work. or please send test mail to rkrk8083@gmail.com and i will reply for the same. Thanks a lot n lot. Please do the need.

[2017-05-19 14:42] ravindravv commented on #5
Hello Sourabh, I have sent mail to you. Could you please check? Please do the need. Thanks in Advance

[2017-05-22 12:20] ravindravv commented on #5
Hello Sourabh, Did you try at your end? Can u please do the need?

[2017-05-22 16:50] cdhunt commented on #31
I created an open-sourced my own version of Service Monitor. It also will tail a log file and pipe it to stdout to funnel events through Docker logging drivers.
https://github.com/Ticketmaster/spinner

[2017-05-23 07:07] mansing2 opened #38 "Trying to call PS1 file with the parameters from within Docker file, but no luck."
Hi,

I have following Dockerfile where I am trying to call .PS1 file with the parameter so user can provided value against it during Docker Run command.

[code]

Below is the sample Powershell
[code]

I am trying to run below Docker run command once the image is built. But it fails to pass the value to ps1 file

[code]

However when I run without parameter, powershell executes without any issue.

[2017-05-23 09:03] mansing2 commented on #38
I have used environment variable within docker file and read the value of it in Powershell. so my docker file is as per below.
[code]

[2017-05-29 09:02] KevinVording commented on #30
I currently login to the IIS Manager remotely and add a certificate this way. It would be nice to have this automated indeed. Very curious about this one.

[2017-05-31 15:01] kellybirr commented on #2
Is there any ETA for the updated ServiceMonitor.exe?  I looked today but still only see the initial version from 8 months ago.

Thanks!

[2017-05-31 15:49] StefanScherer commented on #2
Just to connect the dots. There is a similar tool to ServiceMonitor.exe which has been open sourced a few weeks ago: https://github.com/Ticketmaster/spinner

[2017-06-07 09:10] ravindravv commented on #5
Hello All, Any inputs on my query? Please .....

[2017-06-07 19:34] thegreatjerboa commented on #1
@shirhatti Any update?

[2017-06-08 21:31] shirhatti commented on #34
Feel free to re-open if you have additional questions

[2017-06-08 21:31] #34 closed

[2017-06-08 21:32] shirhatti commented on #27
Feel free to re-open if the issue still persists

[2017-06-08 21:32] #27 closed

[2017-06-08 21:38] shirhatti commented on #11
Closing. Feel free to re-open if you still have issues

[2017-06-08 21:38] #11 closed

[2017-06-08 23:55] shirhatti commented on #2
We have a new version version of `ServiceMonitor` that promotes environment variables to the DefaultAppPool. See #41
If you folks could give it a try, we'd appreciate the feedback.

[2017-06-09 07:51] ChiefWiggum commented on #2
I've changed our `dockerfile` to copy the newer version over the existing one from the Microsoft/IIS image and it worked like a charm. We use it to pass in the `ASPNETCORE_ENVIRONMENT` variable.
In case anyone is interested: Until now our solution for our AspNetCore app that runs behind an IIS was to add a 3-letter prefix to the docker hostnames (`--hostname="PRD-{{.Node.ID}}"`) and to check for t

[2017-06-09 13:55] wxb1 commented on #27
I believe IanGSY is correct in my case. I got VMware services running in the background and the computer in question was low on resources. I switched to another computer which was beefer and I did not have a problem. I plan on adding memory to the computer with the issue. If I am still having the problem then I will reopen the issue.

[2017-06-13 08:50] seanturner83 commented on #2
Seems to do exactly what it says on the tin. As mentioned elsewhere, open sourcing this would be good, then people (e.g. Ticketmaster) wouldn't need to roll their own to improve it and contribute back to the community.

[2017-06-13 14:16] seanturner83 commented on #2
Hmm, just found an app it doesn't work with (a PHP/fastcgi one), this is where the changelog / source would be real handy...

[2017-06-13 17:04] pan-wang commented on #2
servicemonitor is very simple program. will make it open source soon so that people can extend it.

[2017-06-16 00:01] artisticcheese commented on #23
You need to use Start-Process with -Wait flag for those

[2017-06-18 03:27] Diego-T opened #42 "Restarting container fails"
The container starts without a problem but stopping and starting it again produces the following:

[code]
Is this scenario supported? Or should I always create a new container instead?

[2017-06-20 14:40] NikitaEgorov commented on #17
https://forums.docker.com/t/iis-url-rewrite-installation/30475/2

[code]

[2017-06-21 07:37] jwgoedheer commented on #42
I have the same problem.
For what I've seen the ServiceMonitor adds environment variables to the applicationhost.config. It seems like it doesn't update the dictionary correctly and that on a restart, when the keys are already added the first time,  the exception is thrown.
For now I'm using the previous version of  ServiceMonitor.exe which doesn't update environment variables. In my setup I don't

[2017-06-21 22:48] shirhatti commented on #42
Acknowledging this is a regression on our part. We're working to fix this.

[2017-07-04 16:29] funky81 commented on #31
@cdhunt thanks for the spinner apps. I just re-built my on docker image for iis based dockerfile.
This time I use spinner. Anyway, are you hosting at github for the source code? or libraries.io?

[2017-07-04 18:38] richlander commented on #31
Can you make the source available, @shirhatti?

[2017-07-05 12:55] cdhunt commented on #31
@funky81, Source and Binaries are GitHub.

[2017-07-05 18:33] sebagomez commented on #42
@jwgoedheer is there a url you can share to that old ServiceMonitor?

[2017-07-05 18:35] shirhatti commented on #42
https://github.com/Microsoft/iis-docker/raw/8ffb45926630255cff635b6c693e0efd43a96aa7/windowsservercore/ServiceMonitor.exe

[2017-07-05 21:02] richlander commented on #31
Hey @cdhunt ... your spinner service looks cool. Would be great to learn more about what you are doing. Care to chat? Mail me at rlander@ms.

[2017-07-06 21:36] jorgecotillo commented on #42
Any hint on how I can replace the existing file in my container? I mapped my container to a host folder but once I access the folder I see no files.

[2017-07-06 21:55] shirhatti commented on #42
@jorgecotillo I'm assuming you're trying to replace `ServiceMonitor.exe`? In my opinion, the simplest way to replace it is via an [`ADD` directive](https://docs.docker.com/engine/reference/builder/#add) in your Dockerfile.

[2017-07-06 21:56] jorgecotillo commented on #42
@shirhatti gotcha, thanks!

[2017-07-06 21:57] shirhatti commented on #42
We have a new ServiceMonitor that should address this issue. Please feel free to give it a spin https://github.com/Microsoft/iis-docker/pull/43 and give us your feedback.

[2017-07-09 16:37] artisticcheese opened #44 "Servicemonitor.exe spews a bunch of output in EntryPoint"
Latest version of `microsoft/iis' image produces following output to container logs. This was not the case on previous versions

[code]

[2017-07-10 14:00] fkoellner commented on #44
I can confirm this. Furthermore, it causes my .Net-App to fail compilation:

Description: An error occurred during the compilation of a resource required to service this request. Please review the following specific error details and modify your source code appropriately.
Compiler Error Message: BC31007: Unable to open module file 'C:\Windows\Microsoft.NET\Framework64\v4.0.30319\Temporary ASP.NET

[2017-07-10 20:17] artisticcheese opened #45 "Please redo ServiceMonitor.exe as a powershell script"
I think Microsoft need to allow a way for applications to send message to ServiceMonitor.exe to be output to docker (like critical events which happen on machine etc). Right now it's a black box which does not do anything except for monitoring of status of w3svc.exe. This is already can and shall be accomplished by `HEALTHCHECK` directive, ServiceMonitor becomes redundant at this point. Instead it

[2017-07-12 23:19] evmurphy opened #46 "resetting iis process stops container"
I've manually made permissions changes to several folders on my container after it's been started with `docker-compose up`. I now want to reset the iis process to allow these changes to take effect.

## Actual Behaviour
Connecting to the container and running `iisreset /stop` produces the following error
[code]
The container is then stopped and is unable to be restarted (possibly due to https://gi

[2017-07-18 13:47] FFLSH opened #47 "microsoft/iis:nanoserver crashes when running ServiceMonitor"
To reproduce:

Create and build a Dockerfile as in the example on the microsoft/iis docker hub page

[code]

At this point you could also copy site contents into `C:\app` - it doesn't make a difference

When running the image via `docker run` the following is presented:

[code]

The container then exits as `ServiceMonitor` has crashed.

[2017-07-18 18:29] mcy94w commented on #47
I just merge the new version of servicemonitor to master, could you try the new version?

[2017-07-18 22:41] shirhatti commented on #46
@evmurphy Is there any reason you need to make these changes after the container has already come up? We anticipated folks would bake any changes they need into their base container image and not have to manipulate IIS configuration at container run time. We consciously made the decision to have `ServiceMonitor.exe` to exit if the W3SVC is no longer running.

[2017-07-18 22:47] shirhatti commented on #45
We are definitely making amends to address the blackbox. I'm in the process on open sourcing ServiceMonitor.exe.

We, on the IIS aren't entirely convinced that moving from an exe to PowerShell script will address all your concerns. By controlling the entrypoint process, we are hoping to establish an idiomatic way of using Windows containers. We can surely consider adding features for logging. I'll

[2017-07-18 22:48] shirhatti commented on #42
Merged in d6580f65bdf060213cd8053762591ac8b5e94746

[2017-07-18 22:48] #42 closed

[2017-07-18 22:56] shirhatti commented on #44
@fkoellner The issue you ran into has been fixed in the July updates to the iis image.

[2017-07-18 23:06] shirhatti commented on #38
@mansing2 The `microsoft/iis` image on DockerHub already specifies an ENTRYPOINT. I haven't tried building an image as you described, but my naive guess is that you'll need to override the ENTRYPOINT directive and not just CMD.

[2017-07-18 23:11] shirhatti commented on #23
@hqer2k9 If this issue still persists feel free to re-open with a repro.

[2017-07-18 23:11] #23 closed

[2017-07-18 23:13] shirhatti commented on #22
@pan-wang Any ideas why this might be happening?

[2017-07-18 23:14] shirhatti commented on #20
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-deploy-container

[2017-07-18 23:14] #20 closed

[2017-07-18 23:15] shirhatti commented on #20
Feel free to re-open if you have issues

[2017-07-18 23:16] shirhatti commented on #2
This has been added in the July 2017 updates to the `microsoft/iis` image.

[2017-07-18 23:16] #2 closed

[2017-07-19 06:29] mansing2 commented on #38
@shirhatti: Thank you.

I forgot to update this issue, I have defined environment variables in docker file and read their values in powershell, that solves my problem.

[2017-07-19 06:29] #38 closed

[2017-07-19 07:46] fkoellner commented on #44
@shirhatti Thanks for adressing this issue. But instead of using the official microsoft/iis images, i am now using my own custom made. The main reason for this decision is the lack of announcements and documentation regarding changes you guys implement. Since i´m using Docker in a productive environment, i cant afford to stumble across errors resulting from new, unannounced features.

[2017-07-19 12:20] FFLSH commented on #47
@mcy94w
I have just tried that, unfortunately I still get the same error message.

[2017-07-19 13:15] artisticcheese commented on #44
@fkoellner What do you use as entry point in IIS image? I agree ServiceMonitor does not produce any value apart from monitoring state of w3wp.exe. `HEALTHCHECK` already performs this roles and provided better capabilities obviously.

[2017-07-19 13:25] fkoellner commented on #44
@artisticcheese As I said, I no longer use the official microsoft/iis-image. Instead, I build an Image FROM microsoft/windowsservercore and use powershell to install IIS and some required subfeatures. Furthermore, i ADD Spinner.exe to the Image and use this:
`SHELL ["cmd", "/S", "/C"]

ENTRYPOINT spinner.exe service w3svc`

[2017-07-19 13:32] artisticcheese commented on #44
Well you still can use official IIS image and just replace ENTRYPOINT if that was the issue. What is "spinner.exe"? What does it to?

[2017-07-19 13:42] fkoellner commented on #44
This is [Spinner](https://github.com/Ticketmaster/spinner). And yes, since my issue resolved from the ENTRYPOINT in the IIS image (which supposedly has been fixed) I could still use it - but like I said, were using Docker in Production, and unannounced, undocumented changes which cause issue are just a No Go there. Furthermore, I no longer see any gain or advantage in using the official image over

[2017-07-19 13:47] artisticcheese commented on #44
Wow, spinner is like `ServiceMonitor` on steroids. Have both capabilities for HTTP level monitoring as well as tail log (what I asked in other thread here for `ServiceMonitor` to accomplish.

[2017-07-19 13:47] #44 closed

[2017-07-19 18:30] pan-wang commented on #22
@hqer2k9 could you please provide more information about the version WebFarm Framework and How the container was set up? What's the error you hit? Just for your reference, we recommend ARR https://www.iis.net/downloads/microsoft/application-request-routing for web farm scenario.

[2017-07-20 01:54] shirhatti commented on #1
See https://github.com/Microsoft/IIS.ServiceMonitor

[2017-07-20 01:54] #1 closed

[2017-07-20 01:54] shirhatti commented on #31
See https://github.com/Microsoft/IIS.ServiceMonitor

[2017-07-20 01:54] #31 closed

[2017-07-20 18:41] artisticcheese commented on #44
I just gone and ahead and did the same thing as @fkoellner. Seems that all is being done for IIS image is installing `Web-Server` and adding this useless entrypoint.
https://artisticcheese.wordpress.com/2017/07/20/replacing-servicemonitor-exe-with-iis-error-log-events-in-windows-iis-container/

[2017-07-22 15:32] froxplus commented on #17
I have same problem.
this is my docker file:

after running docker with this image i'll get http 500 error that belongs to url_rewirte module
but if after creating a container run:
`docker exec frox msiexec /i C:\install\rewrite_amd64.msi /quiet /qn /passive`
it will work fine.
any solution for this problem?

[2017-07-22 15:44] froxplus commented on #17
my problem solved
i just replaced
`RUN msiexec /i C:\install\rewrite_amd64.msi /quiet /qn /passive`
to
`RUN Start-Process 'C:\install\rewrite_amd64.msi' '/qn' -PassThru | Wait-Process;
`

[2017-07-27 12:39] arava commented on #46
I had the same issue when I had to add to convert the added folders (COnvertTo-webapplication) .net3.5.
Also have issue wrt to reisizing image size . How do we do that to accomodate application above 20GB on windows server 2016 ?

[2017-08-04 04:10] satyapal88 commented on #27
I am facing the same issue. For me this is random issue. First time it was working fine for me. After that I just  removed the container and try to create it again. But I am getting the same issue-

Error response from daemon: container 60fef2228d62a8337d7e41d92acbf1305998e351df04704d056667dc26234b66 encountered an error during Start: failure in a Windows system call: The operation timed out becau

[2017-08-04 15:23] FFLSH commented on #47
Any ideas? This is blocking our deployments of Angular apps.

[2017-08-04 17:37] shirhatti commented on #47
Do you have a repro you can share? Either push your image to a registry or share a tarball containing the container image with us?

[2017-08-04 17:51] shirhatti commented on #27
@satyapal88 Have you tried https://docs.microsoft.com/en-us/virtualization/windowscontainers/troubleshooting

cc @PatrickLang

[2017-08-07 08:20] FFLSH commented on #47
@shirhatti If you look at the OP I included reproduction steps.

[2017-08-08 23:37] artisticcheese commented on #30
Wondering what is the problem being raised here. What prevents you from just bake SSL cert into the container during build stage?

[2017-08-08 23:59] shirhatti commented on #30
# Request for feedback

Let’s first look at the existing approaches, to see their short-comings.

#### Build a container image with the certificates already installed
-	The first variation to this is to build a container image with dev/test/qa/prod certs all installed and all bindings created in a single container image. The obvious downside to this approach is that anyone who can pull the contain

[2017-08-09 00:34] artisticcheese commented on #30
I think there shall be another approach as well based on "secrets" when running under orchestrators. Docker swarm allows you to define secrets which live only inside orchestrator hosted containers. That secret can be PFX file and separate secret can be a password. To allow running containers outside of orchestrator information about certificate as well as key is passed via Environment Variable whe

[2017-08-09 14:24] FFLSH commented on #47
@shirhatti I've pushed an image with the issue up to [here](https://hub.docker.com/r/fletech/47/) so you can run it by doing `docker run -d -p 8000:8000 fletech/47:1` and observe the issue.

[2017-08-10 15:17] FFLSH commented on #47
Looks like [this](https://github.com/Microsoft/IIS.ServiceMonitor/issues/4) is related or the same. Does `microsoft/iis` use that repository?

[2017-08-10 18:16] shirhatti commented on #47
Yes. `microsoft/iis` uses ServiceMonitor. It appears to be the same issue. We're looking into it now

[2017-08-16 21:14] shirhatti commented on #5
@scrambledheads I'm going to close this issue since it's probably stale at this point. Feel free to open an issue if your issue persists

[2017-08-16 21:14] #5 closed

[2017-08-16 21:20] shirhatti commented on #13
@alexsandro-xpt I'm going to close this issue since it's not relevant to IIS.
@PatrickLang Is there a general forum where I can redirect folks to, who just have questions about container in general

[2017-08-16 21:20] #13 closed

[2017-08-16 21:23] shirhatti opened #48 "How to install IIS OOBs in a container - Add sample dockerfiles to demonstrate how to install each OOB."
We've seen multiple issues asking for guidance on how to install IIS OOBs like URL Rewrite and ARR in a container.
Let's try and some guidance around this.

[2017-08-16 21:26] shirhatti commented on #17
@16bytes ARR Dockerfile- https://github.com/MicrosoftDocs/Virtualization-Documentation/blob/live/windows-container-samples/iis-arr/Dockerfile

Looks like this issue was resolved, however I do understand the concern expressed.
I have created an uber issue to create some guidance around install IIS OOBs in containers- https://github.com/Microsoft/iis-docker/issues/48

[2017-08-16 21:26] #17 closed

[2017-08-16 21:27] shirhatti commented on #18
Closing this issue, as it's not actionable from IIS

[2017-08-16 21:27] #18 closed

[2017-08-16 21:28] shirhatti commented on #22
@hqer2k9 Closing issue since it's stale. Feel free to re-open if this issue persists

[2017-08-16 21:28] #22 closed

[2017-08-16 21:33] shirhatti commented on #30
@artisticcheese There's no limitation preventing you from doing what you proposed. This is only an additive change

[2017-08-16 21:34] shirhatti commented on #45
Closing. See https://github.com/Microsoft/IIS.ServiceMonitor/issues/1

[2017-08-16 21:34] #45 closed

[2017-08-16 21:36] shirhatti commented on #46
@evmurphy Closing this issue due to no reply. Feel free to re-open

[2017-08-16 21:36] #46 closed

[2017-08-16 21:40] artisticcheese commented on #30
@shirhatti If CCS is hardmapped in IIS to c:\inetpub\certs then implementing "secrets" will not work since those are hard mapped into `docker\secrets` location which is in completely different location on system. I suggest to have environment variable instead which is passed to container to inform where certs will be stored at instead of hardcoding them in predefined pass as suggested above.

[2017-08-16 22:01] shirhatti commented on #30
@artisticcheese Agreed. In fact, I suspect this path will vary based on which orchestrator and we should make it configurable

[2017-08-16 23:28] artisticcheese commented on #30
Yes, it'll be different for different orchestrators. In addition to storing PFX file there is another piece which shall be passed through Environment variable which is password for PFX file. I imagine people are not going to put their certs in images even in private registries without password.

[2017-08-29 23:39] pcj commented on #30
Workaround: don't even try.   I use caddy for this.  You can dockerize that too.  Have Caddy listen on 80/443 in your VM or docker host, and acts as proxy that will do automatic SSL provisioning for you.  Get your IP from docker inspect, then use/generate a Caddyfile like:

[code]

Then point your browser to <https://my-secure-site.com>.  End of story.

[2017-09-09 14:13] wxb1 commented on #27
How do I open this back up?

[2017-09-09 14:19] wxb1 commented on #27
I added more ram but I am still having issues.

I can create containers from the "nano" based images but not from the others.

Microsoft Windows [Version 10.0.15063]
(c) 2017 Microsoft Corporation. All rights reserved.

C:\WINDOWS\system32>cd\

C:\>docker images
REPOSITORY                    TAG                 IMAGE ID            CREATED             SIZE
microsoft/aspnet              latest

[2017-09-09 14:22] wxb1 commented on #27
Here is my troubleshooting log... If you notice anything please let me know.  I would love to get docker  running on this machine as it will be my main machine going forward...

Checking for common problems
Describing Windows Version and Prerequisites
 [+] Is Windows 10 Anniversary Update or Windows Server 2016 3.64s
 [+] Has KB3192366, KB3194496, or later installed if running Windows build 14393

[2017-09-23 12:10] wxb1 opened #50 "the operation timed out... (containers on windows 10)"
I apologize I am double posting but I don't know how to reopen this issue.

I was hoping this issue was related limited resources but it is not. Any ideas you can offer would be appreciated....

https://github.com/Microsoft/iis-docker/issues/27

[2017-09-23 16:41] anwar0206 commented on #27
Hi !,
Did anyone able to resolve this issue.

I created the cotainner, it worled perfectly fine for the whole day. Shutdown the Laptop which is Windows 10 Anniversary Update. Next day... containner not startring.

[2017-09-27 16:35] vigneshbalagopal opened #51 "IIS docker image usage"
Hi,

I have a doubt here. Can I spin up n number of IIS containers in a windows machine? Is that a violation of the windows license terms?

[2017-09-28 07:39] 520luolu opened #52 "how to installing ASP.NET (2.0.50727) &asp.net3.5"
how to installing ASP.NET (2.0.50727) &asp.net3.5

[2017-10-12 09:46] ztmdsbt commented on #12
Is this repo still in maintenance?

[2017-10-26 20:30] putz612 commented on #47
Any issues on this?  I am experiencing this as well using the latest version.

[2017-10-26 20:34] shirhatti commented on #47
@putz612 This issue was fixed in the September release. See linked PR.
Are you still experiencing this issue? If so, what image are you running?

[2017-10-27 15:10] putz612 commented on #47
Just created this yesterday pulling nanoserver:latest so that would be nanoserver-10.0.14393.1770.  I am just creating a POC using the example in hub.docker so my Dockerfile is real simple.

[code]

When I start it I get the same issue as above.
[code]

I am on windows 2016 server with the latest patches, docker info below.

[code]

[2017-10-30 09:56] unsafePtr opened #54 "Possible problems with ServiceMonitor"
I'm using microsoft/aspnet:4.6.2 image. However question applies to all images which are using IIS.
I need to run powershell script on container startup. This one is made through specifying the ENTRYPOINT in Dockerfile:  ```ENTRYPOINT [ "powershell", "./EntryPoint.ps1"]```. At the end of ps1 file is added line to run the ServiceMonitor service: ``` C:\ServiceMonitor.exe w3svc ```.
Does the overrid

[2017-11-01 19:53] mrichman commented on #27
I'm stuck too:

[code]

[2017-11-06 10:48] ktsangop commented on #13
Sorry to bump this closed issue, but there is a workaround described on the link below that worked for me, and i hope it helps anyone else. Just to clarify, i am using this container https://github.com/Microsoft/aspnet-docker but it should work on the one @alexsandro-xpt is using.

https://social.msdn.microsoft.com/Forums/sqlserver/en-US/20588e86-c8fa-450a-8dad-77484eb9ef39/windows-2016-container-

[2017-11-16 23:38] FushenYang commented on #34
I get what i want,thank you.

[2017-11-22 08:27] unsafePtr commented on #54
I've considered that probably there is no side effects. So I am closing this issue. If someone will found unexpected behavior, please, leave comment here or open a topic on stackoverflow.

[2017-11-22 08:27] #54 closed

[2017-11-22 18:51] cnieren commented on #30
Has there been any more movement on this?

[2017-11-24 15:41] mpwaldhorst opened #55 "Question: Use of environment variables for application pools other than DefaultAppPool?"
Hi all,
As part of issue #41 a new version of ServiceMonitor was introduced that will forward environment variables passed by the -e argument to the `DefaultAppPool`.

Is there any way to also enable this for other application pools?
Is there any update on what was discussed in #2 with regards to `w3wp.exe`?

[2017-11-27 22:11] shirhatti opened #56 "Update Dockerfiles to use COPY instruction rather than ADD"
To conform with [Dockerfile best practices](https://docs.docker.com/engine/userguide/eng-image/dockerfile_best-practices/#add-or-copy), the COPY instruction is preferred over ADD.  All Microsoft Dockerfiles should be following the best practices as they are often referred upon and copied.

Related to https://github.com/Microsoft/aspnet-docker/issues/72

[2017-11-28 09:20] SergeBerwert opened #57 "Pulling microsoft/iis fails"
Hi
I Try to pull an iis image from Docker Hub like that:

`docker pull microsoft/iis:windowsservercore-1709`

but i always get the following error during extraction:

[code]
I am using the following versions from docker:
[code]

[2017-11-30 19:51] halr9000 commented on #18
For posterity, just found this issue after working w/MS and a customer who had a related question. The recommendation we came up with was to use the Windows Event Log Forwarding feature from the containers, to another system (probably the host) for event logs, and shared volumes for filesystem logs. From there, you can use data aggregation tools such as Splunk on that system, or your usual GUI too

[2017-12-10 15:07] praveenc opened #60 "COPY Command (Dockerfile) doesn't work / The system cannot find the path specified"
Cannot build Docker images on Windows

``COPY`` or ``ADD`` doesn't work (throws the exact same error as mentioned above) - Tried this on both Windows 10 Enterprise and Windows Server 2016 with Docker EE

**ERROR**
[code]

**Docker file**

[code]

_Output_

[code]

**Docker info**

[code]

[2017-12-12 03:07] thaJeztah commented on #60
From the output it looks like you're building the Dockerfile from an empty directory;

[code]

Note that the `COPY` instruction takes a path, relative to the build context as argument, not a drive-letter and an absolute path; the `Web\WebUI` directory should thus be present in the directory from which you start the build (which is used as build-context).

[2017-12-12 12:32] mbentley opened #61 "Restructuring broke links in README to the Dockerfiles"
It looks like [this PR](https://github.com/Microsoft/iis-docker/pull/58) broke the links to the Dockerfiles in the README

/cc @shirhatti and @mcy94w

[2017-12-13 11:35] puppetSpace opened #65 "cannot connect to website when using SHELL["powershell.exe"] in dockerfile"
I had a weird problem using the microsoft/iis image.
I made 2 dockerfiles: 1 for hosting a website and another for hosting a REST service.
the first file contains this:
[code]
when I built and ran it, I could connect to the website using the containers IP address. E.g. 172.21.156.105:8081. This was not problem.

the second file contained this:
[code]
There are some parts in comment because this we

[2017-12-13 12:43] praveenc commented on #60
Hi @thaJeztah Thanks for this - you were right ``COPY`` takes relative ``ADD`` can take a url - should have RTFM

my ``docker build -t ...`` command is now successful with the relative path.

[2017-12-13 12:43] #60 closed

[2017-12-13 15:45] thaJeztah commented on #60
Great!

[2017-12-21 10:35] reste85 opened #67 "Trace HTTP Errors with Failed Request Tracing"
How to add Tracing of failed requests? We're getting a 502.3 error when using ARR inside IIS. Do we need to add a specific module?

[2017-12-22 09:37] JohanSpannare opened #68 "Using docker configs for web.config causes 500.19 0x80070005 error"
If you uses docker config for web.config. IIS cant read the file due to not have access to the config.

## Icacls

web.config from docker config

    icacls.exe .\web.config
    .\web.config BUILTIN\Administrators:(F)
                 NT AUTHORITY\SYSTEM:(F)

web.config_ from COPY command

    .\Web.config_ BUILTIN\Administrators:(F)
                  NT AUTHORITY\SYSTEM:(F)
                  BUIL

[2017-12-22 10:20] JohanSpannare commented on #30
### Here is a way we are currently doing it.

1, Override the Entrypoint with and custom bootstrapper

        entrypoint: powershell C:\\start.ps1

2, Add two environments variables
[code]

Bootstrapper start.ps1

[code]

This way we can have the same image in Production and Test. You just inject your secret for cert and cert password into the location you specified in your bootstrapper

[2017-12-27 18:54] mattcampbell15 opened #69 "IIS PHP file"
Hey All,

the IIS image mentions it supports PHP when I copy it over doesn't seem to recognize the file at all. I was able to confirm that the copy function works properly by using a HTML file which IIS worked fine with.

FROM microsoft/iis

RUN mkdir C:\site
COPY index.php C:\site

RUN powershell -NoProfile -Command \
    Import-module IISAdministration; \
    New-IISSite -Name "Site" -PhysicalPa

[2018-01-03 22:43] dhirastu opened #70 "docker pull microsoft/iis timing out"
Get https://registry-1.docker.io/v2/microsoft/iis/manifests/sha256:5d6ad12771db3b49ca7f56c310212c200b46d2fa70ef056da0d2f4723fc3ebb2: net/http: TLS handshake timeout

Any suggestion ?

[2018-01-05 23:58] bariscaglar commented on #70
First time takes a long time to download / extract, but mine finished right under 6 minutes. Did not see a timeout:

docker pull microsoft/iis
Using default tag: latest
latest: Pulling from microsoft/iis
5847a47b8593: Pull complete
9f887ccb8077: Pull complete
591a367f029c: Pull complete
c85ff4be242c: Pull complete
d72d8f97514e: Pull complete
914cf14bfc2d: Pull complete

Status: Downloaded newer im

[2018-01-05 23:58] #70 closed

[2018-01-06 00:01] bariscaglar commented on #57
Just tried and works as expected.

[2018-01-06 00:01] #57 closed

[2018-01-06 00:13] bariscaglar commented on #12
The repo is still in maintenance and will be in the foreseeable future, although it will be updated with less frequency from now on since we are starting to use a naming scheme for labels that will be unchanged from month to month.

The purpose of this specific GitHub repo (Microsoft/iis-docker) is for backing the Docker file referenced from the corresponding iis container image ([Microsoft/IIS](h

[2018-01-06 00:41] #51 closed

[2018-01-06 01:00] bariscaglar commented on #47
We are able to repro this on our end and will look into it. Let me point out that we have not released a IIS Nano container image for 1709 and will likely not release IIS on Nano in the foreseeable future. The application model is shifting towards using Kestrel for .NET Core applications on Nano and not use IIS. If you'd like to use IIS, ServerCore is the current recommended SKU.

[2018-01-06 01:02] bariscaglar commented on #48
Agreed, the issue is now assigned to you 🥇

[2018-01-06 01:05] bariscaglar commented on #50
Do you have other containers running into the same problem? That does sound like more of a Windows/Container layer problem rather than an IIS one. Best way to check is creating other containers, ones that don't involve IIS and seeing if they are running into the same issues or not.

[2018-01-06 01:09] bariscaglar commented on #30
There's clearly a good amount of information contained here in HTTPS guidance. @shirhatti we just need to centralize it elsewhere and close this issue.

[2018-01-06 01:14] bariscaglar commented on #52
The process is identical to how you'd install on non-container scenarios:

dism /online /enable-feature /all /featurename:IIS-ASPNET

(This includes 2.0 and 3.5)

[2018-01-06 01:14] #52 closed

[2018-01-06 01:19] bariscaglar commented on #56
@mcy94w can we do this before the next release?

[2018-01-06 01:20] bariscaglar commented on #61
The links are correct right now.

[2018-01-06 01:20] #61 closed

[2018-01-06 01:30] bariscaglar commented on #52
Also, if you'd like to do the same in dockerfile add:

RUN ["powershell.exe", "Enable-WindowsOptionalFeature -Online -FeatureName IIS-ASPNET"]

[2018-01-06 10:09] bariscaglar commented on #69
IIS in container does not have FastCGI enabled so it won't run php out of the box. Just like on full server, you'd need to enable that feature and install PHP before running it.

[2018-01-06 16:13] mattcampbell15 commented on #69
Ahh ok, that makes sense.   Is it possible to access the container with the IIS GUI?

[2018-01-06 22:18] bariscaglar commented on #69
Same idea, you’d need to enable remote management feature and I’ve seen it work in practice. How much in the spirit of containers to do that is, however, I don’t know. We are planning to support manage.iis.net<http://manage.iis.net> for both management and monitoring, which will be the recommended approach going forward.

Baris.

On Jan 6, 2018, at 8:13 AM, mattcampbell15 <notifications@github.com

[2018-01-08 23:23] bariscaglar commented on #65
First impression: It looks like you would want to start with FROM microsoft/aspnet:4.7 since that's what you need. Those images will already come with ASP.NET enabled on IIS. See https://github.com/Microsoft/aspnet-docker for a list of available tags to use. There are options for 4.7.1, 4.7, 4.6.2 or even 3.5.

Second impression: Install-WindowsFeature should probably be used by /all, to enable al

[2018-01-08 23:27] bariscaglar commented on #68
If you have a web.config as part of your web site, it should just be copied as the rest of the content. I don't think you should have to deal with ACLs in any way. What prompted you to play with the ACLs. @mcy94w is this something we do or advocate?

[2018-01-09 07:00] JohanSpannare commented on #68
@bariscaglar if you like to have different config for different environments, you cant have your configs inside the image. It will make the image non generic. It also stops you from changing the config if you need.

Error code 500.19 (0x80070005) states that there is an permission error reading config file according to Microsoft support page below.
[https://support.microsoft.com/en-za/help/942055/

[2018-01-10 01:09] mcy94w commented on #55
Hi @mpwaldhorst:

Right now servicemonitor.exe only write the Env Var to DefaultAppPool. Is there a reason that you want to use another AppPool instead?

[2018-01-10 09:01] mpwaldhorst commented on #55
Hi @mcy94w ,
Yes, I'm currently working on dockerizing some applications which have some more complex requirements.
Consider the following set-up for a website in IIS where we have one IIS hosted website with two applications running in separate AppPools:
* MyIISWebsite (DefaultAppPool)
  * application1 (Application1AppPool)
  * application2 (Application2AppPool)

Normally it would be possible to

[2018-01-10 12:17] StingyJack commented on #57
Some versions of Symantec Antivirus will cause similar issues. They have to be uninstalled completely - not just disabled - in order to complete the pull.

[2018-01-10 18:31] bariscaglar commented on #55
Unless you have a strong technical reason why you possibly cannot separate the applications into different containers, doing so will be the right pattern for container applications. When we implement features for IIS to be used within containers, we only consider cases where one W3WP application per container is used. This is true for service monitor passing the environment variables or any other

[2018-01-11 22:44] #65 closed

[2018-01-16 03:55] nareshkhatri81 commented on #2
@shirhatti can you point to image which has that bug fixed ?
does microsoft/iis:windowsservercore-ltsc2016 has that bug fixed ?

Thanks,
Naresh

[2018-01-16 18:09] jimmyca15 commented on #69
Hey @mattcampbell15,

I wanted to give a status update on some PHP work we're doing in response to this issue. We plan to have a dockerfile with all the steps, tools, and features necessary to run PHP applications in IIS. The dockerfile in question is currently under review in pr #74 if you would like to get a head start on using it or offer any suggestions.

[2018-01-16 22:55] shirhatti commented on #2
Yes,  `microsoft/iis:windowsservercore-ltsc2016` does have the new ServiceMonitor. In fact, every image since July 2017 has featured the updated ServiceMonitor.

If you are still seeing issues, please open a new bug

[2018-01-17 05:01] nareshkhatri81 opened #75 "Docker IIS WindowsServerCore Image - Not able to read environment variable"
Hi Team,

We are setting environment variable like below in init.bat file.

When i do docker exec command to see inside containers i can see those environmental variable set but when IIS process(Asp.net) try to read, it doesn't find those. we are deploying containers via Service Fabric.
Below is sample docker file

FROM microsoft/iis:windowsservercore-ltsc2016
SHELL ["powershell"]

RUN Install-Win

[2018-01-17 05:16] nareshkhatri81 opened #76 "Docker ServerCore 1709 Building image fails."
Hello Team,

when trying to build containers image using below iis image, its failing with below exception.

We are running window server 2016

OS Name:                   Microsoft Windows Server 2016 Standard
OS Version:                10.0.14393 N/A Build 14393

FROM microsoft/iis:windowsservercore-1709

ERROR: Service 'webapi' failed to build: failed to register layer: re-exec error: exit statu

[2018-01-17 05:38] nareshkhatri81 commented on #76
it seems this scenario is not supported. needs to have 1709 version to build 1709 as base image.

[2018-01-17 05:38] #76 closed

[2018-01-17 19:24] bariscaglar commented on #75
@mcy94w can you take a look?

[2018-01-17 19:25] cywang16 opened #77 "Need guidance to connect to the container using IIS Manager"
Greeting,

I'm able to run this image. Is it possible to connect it with IIS manager from the host? Or via any other kind of tool?

Thanks,

Chun-Yen

[2018-01-17 19:33] bariscaglar commented on #77
@cywang16, yes you can connect to it using IIS Manager if you enable wmsvc on the target server, just like on the full server. However, the preferred way going forward will be using manage.iis.net to monitor the container IIS instances. @jimmyca15 is working on the documentation to make this process clear.

[2018-01-17 20:49] cywang16 commented on #77
Thanks @bariscaglar

Is it https://manage.iis.net/get?

[2018-01-17 20:50] bariscaglar commented on #77
Yes, that's it.

[2018-01-18 18:16] cywang16 commented on #77
How can I get the access token of IIS in the container? Thanks.

[2018-01-18 20:26] jimmyca15 commented on #77
Hello @cywang16

I am in the process of optimizing the IIS Administration API (the download available at [manage.iis.net](https://manage.iis.net)) for containers, as well as writing documentation. As it currently stands the best documentation for getting the API set up in a container can be found in the following issue where the scenario was originally requested for the product https://github.com/

[2018-01-19 19:49] shirhatti opened #79 "ServiceMonitor.exe should be a downloaded asset"
Tracking issue for https://github.com/Microsoft/IIS.ServiceMonitor/issues/17

[2018-01-19 22:22] cywang16 commented on #77
Thanks...

I briefly looked [/artisticcheese/IISadmin](https://github.com/artisticcheese/IISadmin). Not fully understand yet, but looks like IIS container will need to install iisadmin.exe for this to work. However, that will require MSI, which is not available on microsoft/iis:nanoserver. Is this known issue, and by design?

[2018-01-22 14:49] sirdank commented on #47
I'm getting this on plain microsoft/iis non-nano. Trying to find a minimal repro.

[2018-01-22 19:42] shirhatti opened #80 "Add documentation for using IIS with Windows Authentication"
Related resource: https://gist.github.com/PatrickLang/27c743782fca17b19bf94490cbb6f960

[2018-01-22 19:53] shirhatti opened #81 "Readme incorrectly asks you to create a new site"
https://github.com/Microsoft/iis-docker/blame/master/README.md#L23-L25

The README should be updated to use the existing DefaultAppPool so as to not break ServiceMonitor.exe

[2018-01-22 23:33] jimmyca15 commented on #69
A sample PHP dockerfile is now present in the samples directory. I believe this should resolve any questions of how to get PHP running in the container. If there are any further issues please let us know.

[2018-01-22 23:33] #69 closed

[2018-01-23 00:02] mattcampbell15 commented on #69
I'll give it a try!

[2018-01-23 18:54] jimmyca15 commented on #77
@cywang16

The IIS Administration API supports installation through a PowerShell script and this is the intended method for installation on Nano Server. We previously wrote a blog of how to install on Nano Server [here](https://blogs.iis.net/adminapi/microsoft-iis-administration-on-nano-server). The only step that has changed since that blog was written is that the ASP.NET Core module is no longer

[2018-01-23 19:22] jimmyca15 commented on #68
@JohanSpannare

We spent some time looking into the scenario of docker config and IIS. You are correct that docker config is placing incorrect file ACLs on the web.config and that the users group must be able to read that file. What turns out is that many times configuration files must be readable by more than administrators or the local system. This is the case for the web.config in IIS. Thus doc

[2018-01-25 01:27] jimmyca15 commented on #68
There is nothing left to track on our end for this issue. If you have any more questions please feel free to reopen the issue or create a new one.

[2018-01-25 01:27] #68 closed

[2018-01-25 01:27] shirhatti commented on #81
Fixed in #83

[2018-01-25 01:27] #81 closed

[2018-01-25 02:22] artisticcheese commented on #77
Nanoserver have IIS stripped down out of it starting with version 1709. IIS is pretty much dead down the road for future nanoserver versions. I suggest to look for alternatives if you plan to host in nanoserver.

[2018-01-25 02:26] artisticcheese opened #84 "IIS image needs to include .NET framework optimization"
Please see issue here (https://github.com/moby/moby/issues/33096)
Dotnet framework have sever issue with perfomance due to issues with NGEN. Fix was distributed only to dotnet-framework image (https://github.com/dotnet/announcements/issues/33)
IIS image have to either incorporate those changes or to be built off dotnetframework.

[2018-01-25 02:29] artisticcheese commented on #75
Make sure you are not running into problem below
https://github.com/moby/moby/issues/30192

[2018-01-25 12:31] nareshkhatri81 commented on #75
@artisticcheese
Env variable are set using setx command and set command inside docker image.

[2018-01-25 12:40] artisticcheese commented on #75
Are you sure setx is setting machine level environment variable? Also please use .NET or powershell. I don't understand how you can possibly work with docker etc and still go back to batch commands.

[2018-01-25 13:31] nareshkhatri81 commented on #75
@artisticcheese
Thing here is we are dependent upon Microsoft two exes
C:\SFFabricBin\vc14_redist.x64.exe -quiet
C:\SFFabricBin\vcredist_x64.exe -quiet

 which runs and setup number of environment variables which i can see when i do docker exec command but IIS w3wp process is not able to get to those variables.
https://github.com/Azure/service-fabric-scripts-and-templates/blob/master/scripts/CodeP

[2018-01-25 13:38] artisticcheese commented on #75
I beleive `setx` sets user or session level process variables, so they will not be visible from our sessions. If you want to create machine level variable yourself you can use .NET classes to do that.

[2018-01-26 00:11] sudha559 opened #85 "Failed to start monitoring changes to 'C:\inetpub\wwwroot\App_Code'. in Docker container"
Hi All,
I am trying to containerise the asp.net traditional web application.I am able to launch the container.While I am trying to launch the website in browser i am getting below error:
Please see below Image.
![error](https://user-images.githubusercontent.com/20248555/35418884-f1850a54-0202-11e8-820c-3007e344999b.PNG)

Dockerfile:
FROM microsoft/aspnet:4.7.1-windowsservercore-ltsc2016

ARG sourc

[2018-01-26 00:51] bariscaglar commented on #85
I think this is more of an issue for the aspnet-docker repo; could you post it there?

[2018-01-26 01:16] sudha559 commented on #85
Okay ,sure..

[2018-01-26 01:22] #85 closed

[2018-01-26 19:36] bariscaglar commented on #50
No further comments received, closing.

[2018-01-26 19:36] #50 closed

[2018-01-26 19:38] bariscaglar commented on #55
Please reopen the issue if you have any further questions.

[2018-01-26 19:38] #55 closed

[2018-01-26 19:40] bariscaglar commented on #80
Doesn't that documentation already covers this in entirety? Is this an issue to put a pointer to there in this repo?

[2018-01-26 19:42] bariscaglar commented on #84
@mcy94w what do you think about this? Can we start from a .NET image? What are the drawbacks of that as opposed to starting from a Windows Image, besides we would have to wait a little longer every month?

[2018-01-26 19:45] artisticcheese commented on #84
I think much better choice will be to force dotnet framework team to distribute that fix to windowsservercore image as they planned but never did.

[2018-01-26 19:52] bariscaglar commented on #84
That might be hard to do. Is there a discussion elsewhere why they reneged on that?

[2018-01-26 19:55] artisticcheese commented on #84
Yes, it's explicitly specified that they are going to fix all windows based images here https://github.com/dotnet/announcements/issues/33

[2018-02-01 18:03] renatotkr commented on #47
same here with both iis and iis nanoserver

[2018-02-03 00:30] bariscaglar commented on #47
@mcy94w any updates so far?

[2018-02-05 18:52] mcy94w commented on #47
This should be a nano only issue.
We fixed in https://github.com/Microsoft/iis-docker/pull/73.

[2018-02-05 19:21] mcy94w commented on #75
@nareshkhatri81 :

ServiceMonitor.exe only setup Env Var once when the container start. Can you confirm when the serviceMonitor.exe start, those Env Var already exist?

[2018-02-06 21:57] bariscaglar commented on #47
That means our next Nano image (February) should work?

[2018-02-12 09:55] NAVspecialist opened #87 "test file"

[2018-02-12 09:55] #87 closed

[2018-02-13 21:51] minoleg commented on #47
I am getting the same issue running container "microsoft/iis:windowsservercore-ltsc2016" on host "Microsoft Windows Server Version 1607 (OS Build 14393.1715)".

Is there a solution or workaround by any chance?

Thanks.

[2018-02-13 21:58] shirhatti opened #89 "Incorrect nomenclature in README"
We incorrectly refer to Windows Server, Version 1709 as ~~Windows Server 2016 Version 1709~~.
We need to fix
- [ ] README in this repo
- [x] Product page on DockerHub

[2018-02-16 06:26] mcy94w commented on #47
@minoleg We updated the nano image on Feb13 which should fix this issue. Could you try again with the new images?

[2018-02-17 17:15] renperez opened #90 "how to enable compression on iis 10 and changing dynamicCompressionLevel"
I got the compression working but i am having a hard time changing the dynamic compression level from 0 to 4. For some reason this setting doesn't stick inside the container. This is what I have on my Dockerfile.

Add-WebConfiguration -pspath 'MACHINE/WEBROOT/APPHOST' -filter "/system.webServer/httpCompression/staticTypes" -value (@{mimeType='application/json';charset='utf-8';enabled='true'}) -Loc

[2018-02-21 00:37] bariscaglar commented on #90
See #73 for a good way to wait for changes to propagate. Basically, you need to wait until the changes are propagated.

[2018-02-21 01:43] renperez commented on #90
do i insert the start-sleep in between these web-configuration changes?

[2018-02-24 02:47] renperez commented on #90
thanks. i'll try it

[2018-02-26 18:12] mcy94w commented on #90
Can you wrap you config command between `Begin-WebCommitDelay` and `End-WebCommitDelay`

[2018-02-26 19:22] #79 closed

[2018-03-14 18:06] wweeder commented on #33
I am also struggling trying to run a aspnetcore app with iis which seems to require the '.NET Core Windows Server Hosting'. @thepill @shirhatti can you please share any Dockerfile that demonstrates how to do this?

[2018-03-14 18:18] thepill commented on #33
@wweeder this is my base image:

[code]

Notice that you have to download the `NET Core Windows Server Hosting` and put it in the same file as the dockerfile. I also tried to download the newest verstion within the dockerfile but this didnt work every time...

[2018-03-14 20:52] wweeder commented on #33
@thepill tyvm!

[2018-03-15 06:35] shine7430 opened #92 "403 - Forbidden: Access is denied."
403 - Forbidden: Access is denied.

[2018-03-15 16:20] mcy94w commented on #92
hi @shine7430
Could you please elaborate?

[2018-03-16 15:36] danleydmello opened #93 "The operation timed out because a response was not received from the Virtual Machine hosting the container"
I am trying to build docker image using microsoft/iis by following steps decribed on https://hub.docker.com/r/microsoft/iis/. and getting this error:

PS D:\docker\iis> docker build -t iis-site .
Sending build context to Docker daemon 2.048kB
Step 1/5 : FROM microsoft/iis
---> 6d91070fab75
Step 2/5 : RUN mkdir C:\site
---> Running in 38f29bfe9e35
container 38f29bfe9e35ad7bf534e66e0020e0b2f0caa87e5

[2018-03-16 17:11] apwestgarth opened #94 "Unable to spin up iis:windowsservercore-ltsc2016 container"
Trying to build a .Net Framework application into a container using VS2017 and docker for windows.  Each time I attempt to build the docker container I get the following error:

========== Preparing Containers ==========
Getting Docker containers ready...
docker-compose  -f "C:\dev\github\eShopModernizing\eShopLegacyWebFormsSolution\docker-compose.yml" -f "C:\dev\github\eShopModernizing\eShopLegac

[2018-03-16 19:17] mcy94w commented on #94
Hi @apwestgarth :
If you run microsoft/iis:windowsservercore-ltsc2016 directly with out using docker-compose, will the container start successfully?

[2018-03-16 19:17] mcy94w commented on #92
I will close this issue, Feel free to reopen it if you still have problem.

[2018-03-16 19:17] #92 closed

[2018-03-16 20:07] apwestgarth commented on #94
Hi, I don't agree it's the same issue. I can run the container via docker run

[2018-03-16 21:09] mcy94w commented on #94
I see. @yanchenw  any idea why this happens?

[2018-03-17 04:09] yanchenw commented on #94
@apwestgarth

The compute system exited unexpectedly. (0xc0370106)
This usually means the compute system crashed, you may have encountered an windows container bug.

Are you using a RS3 host?
Can you switch to  microsoft/iis:windowsservercore-1709 ?

[2018-03-19 13:03] danleydmello commented on #93
@mcy94w , I was using Edge channel, I switched to stable and its working fine now. But I will keep your suggestion in mind If I encounter this problem again. Thanks

[2018-03-19 13:03] #93 closed

[2018-03-19 17:00] apwestgarth commented on #94
Same issue I'm afraid

[2018-03-19 18:51] #77 closed

[2018-03-19 21:26] yanchenw commented on #94
@PatrickLang maybe able to help to see if this is a known windows container bug.

[2018-03-19 22:07] mcy94w commented on #94
@PatrickLang Is it allowed to run RS1 argon container on RS3 Host?

[2018-03-19 22:09] PatrickLang commented on #94
You can run Windows Server 2016 images on a Windows Server, version 1709 or Windows 10 1709 host. It requires `--isolation=hyperv` which is the default on Windows 10

[2018-03-19 22:13] mcy94w commented on #94
running with `--isolation=hyperv` mean starts as xenon/hyper-v container right?

[2018-03-19 22:15] PatrickLang commented on #94
yes

[2018-04-02 04:33] Gudagapu commented on #35
I am unable to find web.config on my windows machine.

![image](https://user-images.githubusercontent.com/37993464/38183305-137045b4-365d-11e8-9400-45daf38c8cf1.png)

[2018-04-05 12:10] michal-clapinski commented on #47
I'm also sometimes (around 30% of cases) getting this error, even on the newest images (`microsoft/iis:latest` from yesterday). I've downgraded to `microsoft/iis:windowsservercore-10.0.14393.1358` and it works fine.

[2018-04-10 14:44] LukeRH commented on #47
I also had this error and like michal-clapinski downgrading to microsoft/iis:windowsservercore-10.0.14393.1358 fixed it.

[2018-04-10 16:11] bariscaglar commented on #47
@LukeRH @michal-clapinski  what is "This error" in this case? Can you give more details. We are trying to pinpoint the issue and believe that the april image might fix it. I want to make sure that we are all talking about the same problem.

[2018-04-11 11:08] LukeRH commented on #47
@bariscaglar The error message we had was "Failed to stop or query status of service 'w3svc' error [800705b4] " Unfortunately i no longer have the log files. I have reverted to use latest iis docker image in our docker image hopefully then i can reproduce this issue and provide you with further information.

[2018-04-11 22:42] mcy94w commented on #90
Hi renperez:

Please reopen the issue when you still have the problem.

[2018-04-11 22:42] #90 closed

[2018-04-11 22:46] mcy94w commented on #47
@LukeRH :

The fix has been made to ServiceMonitor.exe to resolve the issue "Failed to stop or query status of service 'w3svc'". The new images has been published Yesterday. Please update the image and let us know if you still see this error.

[2018-04-12 16:49] mcy94w commented on #47
Hi @michal-clapinski :

We have release the new image which contains the fix of this issue. https://github.com/Microsoft/IIS.ServiceMonitor/pull/29

[2018-04-13 09:38] jeanfrancoislarente commented on #56
Looking through the Dockerfiles in this repo and it doesn't look like ADD is being used anymore... Unless I missed something?

[2018-04-13 16:25] #94 closed

[2018-04-25 14:15] JohanSpannare opened #96 "Remove-IISSite not working"
Remove-IISSite -Name 'Default Web Site' is not working if executed during build of image. However Remove-WebSite -Name 'Default Web Site' works fine.

Same for Start-IISSite and Stop-IISSite.

Errors:
[‎2018-‎04-‎25 15:15] Spännare, Johan:
Start-IISSite : The object identifier does not represent a valid object.
(Exception from HRESULT: 0x800710D8)
At line:1 char:170
+ ... v:SITENAME} -BindingInfor

[2018-04-27 08:38] halfer53 opened #97 "Error response from daemon: container"
[code]

[code]

[2018-04-30 08:27] halfer53 commented on #97
I simply installed IIS on microsoft/windowcoreservice, it worked for me right now

[2018-04-30 08:27] #97 closed

[2018-04-30 22:30] shirhatti commented on #47
@robertoandrade What version of `microsoft/iis` are you using? Can you share the image digest `docker images --no-trunc`

[2018-05-01 05:12] robertoandrade commented on #47
[code]

[2018-05-08 17:16] bariscaglar commented on #96
You mean within the docker file the calls to those Cmdlets fail? @mcy94w please take a look.

[2018-05-08 17:17] bariscaglar commented on #12
@shirhatti can you take a look at this request? It has been active for too long.

[2018-05-08 17:25] bariscaglar commented on #75
@mcy94w, @nareshkhatri81 can we close this?

[2018-05-08 17:26] bariscaglar commented on #80
@shirhatti please see my comment above.

[2018-05-08 17:29] nareshkhatri81 commented on #75
I need to perform few more test this week.
Let me update by end of this week.

[2018-05-08 17:57] #89 closed

[2018-05-08 22:04] shirhatti commented on #67
@reste85 No need to add a specific module, but you do need to enable the IIS tracing feature.
Additionally, I recommend creating a directory on the host that you map in to your container so that your logs persist even if the container goes away

### web.config
[code]

### Dockerfile
[code]

docker run -it --rm -v C:/containerlogs:C:/inetpub/logs/FailedReqLogFiles mycontainerimage

[2018-05-09 17:47] JohanSpannare commented on #96
Yes, if you try execute the commands in the dockerfile (docker build)

[2018-05-15 03:41] zhangjixin opened #102 "how to use the 64 bit version of IIS in container"
Hi,

I have a project which need to use the 64 bit version of IIS to run it. I used to select the "Use the 64 bit version of IIS Express for web sites and projects" in Visual Studio before running my project.
![image](https://user-images.githubusercontent.com/6881149/40035031-372abfec-5832-11e8-9978-0f0807767177.png)

But when I prepare to use docker for windows to deploy my project, I just don't

[2018-05-17 05:01] mkvalluri commented on #84
Has this been fixed?

[2018-05-18 13:09] pbalzer opened #103 "My web service fails with error "Failed to start monitoring changes to App_Offline.htm""
I tried to change the user account of the application pool, I tried giving Full Access to Everyone in the containing folder, but nothing, I get always the same error.
This happens only on the 1709 version, in the 1603 version it works.

[2018-05-20 15:20] nexusguy59 opened #104 "New to Docker for Windows."
Hello Guys,

I have this working properly finally on my Docker for Windows Server. I am using your iis-docker, how do I use it for multiple websites? I have three websites that I would like to use this one container for.

Thank you for your time and help.
Michael

[2018-05-22 16:59] shirhatti commented on #104
@nexusguy59 What are you trying to accomplish? It's considered an anti-pattern to run multiple websites in a single docker container and our published images don't necessarily optimize for that scenario.

Is there a tight coupling between your websites that require to live in the same container? If not, have you considered running them in separate containers?

[2018-05-22 18:12] shirhatti commented on #102
@zhangjixin Our containers already default to running IIS worker process as 64-bit processes.

[2018-05-22 18:15] nexusguy59 commented on #104
Makes sense, I am just used to putting I havw to develope new mind set is
all

On Tue, May 22, 2018, 1:00 PM Sourabh Shirhatti <notifications@github.com>
wrote:

[2018-05-29 09:43] tfenster opened #105 "Add 1803 support"
The [docker hub page](https://hub.docker.com/r/microsoft/iis/) lists only 2016 and 1709 as supported versions, but there already is an 1803 image and the README.md here also shows 1803. You might want to update the docker hub page as well

[2018-05-29 20:56] shirhatti commented on #105
@tfenster Thanks for catching that! I've updated the page on DockerHub

[2018-05-29 20:56] #105 closed

[2018-05-31 12:49] Fredoid opened #106 "Unable to view detailed errors"
Hi,
I am running classic ASP.Net MVC application with .Net Framework 4.0 into an aspnet:latest docker container. Website seems to work fine into the container because I can navigate into it.

Sometimes the application raises errors and exceptions but I can't view them. My browser display the standard iis error `The page cannot be displayed because an internal server error has occurred` in a white

[2018-06-11 13:55] TiagoLeao opened #108 ".NET Framework 4.7.2 in Windows Server 2016 amd64 tag"
Hi,

There are any plans to include .NET Framework 4.7.2 in Windows Server 2016 amd64 tag for Microsoft/iis-docker?

That support seems to be already provided in the other versions (1709 and 1803).

Best regards

[2018-06-12 18:03] shirhatti commented on #108
None so far.

If you're using ASP.NET, you're probably better served using https://github.com/microsoft/aspnet-docker#windows-server-2016-amd64-tags where we do already have a 4.7.2 Windows Server 2016 image

[2018-06-12 18:03] #108 closed

[2018-06-12 18:34] shirhatti commented on #106
By default on IIS you only see detailed error pages on localhost. You can enable detailed error pages for all remote clients by setting this in your web.config. Just be careful not to enable this in production as you'll be leaking implementation details
[code]

[2018-06-19 00:06] shirhatti commented on #75
Hi. We're closing this issue as no response or updates have been provided   in a timely manner and we have been unable to reproduce it. If you have more   details and are encountering this issue please add a new reply and re-open   the issue.

[2018-06-19 00:07] #75 closed

[2018-06-19 00:09] bariscaglar commented on #80
@shirhatti will get to this soon.

[2018-06-19 22:49] jmajoor opened #110 "Refresh / Push image for windowsservercore-1803"
A new image for windowsservercore-1803 was pushed a few days ago, but there is no equivalent refresh for IIS.
Can you refresh the image to reflect the latest windows server core state?
Can you include it in the automated builds (so the IIS image stays in sync)

- Johan

[2018-06-20 20:58] mcy94w commented on #110
Hi jmajoor:

Apologize for the delay. The refreshed images are available now. We are working on the build pipeline to automate the build and publish.

Thanks

[2018-06-20 20:58] #110 closed

[2018-06-25 18:41] ohdihe commented on #54
Thank you for this. It work perfect for me.

[2018-06-25 21:51] bariscaglar commented on #96
Can you please share your dockerfile?

[2018-06-25 21:52] #102 closed

[2018-06-25 21:54] shirhatti commented on #103
This issue was moved to Microsoft/aspnet-docker#115

[2018-06-25 21:54] #103 closed

[2018-06-25 21:54] #104 closed

[2018-06-25 21:54] #106 closed

[2018-06-29 22:02] mcy94w commented on #96
Hi @JohanSpannare :

I tried the command
    `remove-IISSIte -name 'Default Web Site' -confirm:$false;`
and
   ` Start-IISSite  -name 'Default Web Site';`
And they both worked. Could you please share you dockerfile so we can repro the issue?

Thanks

[2018-07-01 11:35] JohanSpannare commented on #96
I am on vacation at.m, i will post the Dockerfile when i am back ~20:e July

[2018-07-18 02:11] asyowish opened #111 "get the container IPAddress"
You can use this simple command to get the container ip address:
docker inspect -f "{{ .NetworkSettings.IPAddress }}" $containerName

[2018-07-23 08:47] zbeel13 opened #112 "Unable to build or run microsoft/iis image due to error: The driver was not loaded because it failed its initialization call."
Issue: Unable to `build` or `run` microsoft/iis docker images
Environment: Microsoft Windows 10 Version 1803 (OS Build 17134.165)

Error:
[code]

Procedure:
1. Pulled microsoft/iis image. (also attempted on microsoft/iis:windowsservercore-1803 image)
2. Attempted to build the pulled microsoft/iis image

**Dockerfile:**
[code]

**Output:**

[code]

**Docker info**
[code]

Making a container directl

[2018-07-23 08:59] zbeel13 commented on #112
I believe this issue better belongs under docker/for-win.
Please refer to newly created [issue](https://github.com/docker/for-win/issues/2239).

[2018-07-23 08:59] #112 closed

[2018-07-23 12:09] SK5277-SINGH opened #113 "Local volume not bind with container"
OS:Win 10 Pro

My IIS Docker file:
[code]
Build command:
`C:\Users\admin\Desktop\iis-demo>docker build -t iis-image .`

Run Command:
`C:\Users\admin\Desktop\iis-demo>docker run -d -p 8080:80 -v C:\Users\admin\Desktop\iis-demo\content:/inetpub/wwwroot iis-image`

**i also tried with:**
`C:\Users\admin\Desktop\iis-demo>docker run -d -p 8080:80 -v C:\\Users\\admin\\Desktop\\iis-demo\\content:/inetpub

[2018-07-26 20:07] JWasdin commented on #113
Try this command which included the `c:` and changed the direction of your slashes for the remote location:

`docker run -d -p 8080:80 -v C:\Users\admin\Desktop\iis-demo\content:c:\inetpub\wwwroot iis-image`

[2018-07-27 07:07] SK5277-SINGH commented on #113
I tried according your suggestion and docker run successfully but when I checked with container IP on browser it gives error
Like below:

[2018-07-27 15:25] JWasdin commented on #113
I am actually running in to the same issue. I am also able to get the container to mount the local folder, however, whether I overwrite the `wwwroot` folder or add the mounted folder as a subdirectory within `wwwroot`, I recieve the same 401 error.

I have been trying to adjust the `Anonymous Authentication` but no success yet.Hopefully the devs here can help resolve this for us both.

[2018-07-30 06:15] kbdavis07 commented on #35
How did you edit the Web.config file on the host? @KevinVording

[2018-07-30 06:44] kbdavis07 opened #114 "Allow to View Detailed Error when using Containers when web.config in app does not work."
**Currently I am getting this:**

![image](https://user-images.githubusercontent.com/5434970/43380410-13f8a374-939f-11e8-9d68-cd0350b4d890.png)

**Even through my web app has this in the web.config file:**

![image](https://user-images.githubusercontent.com/5434970/43380489-4f67e672-939f-11e8-9d0a-5f7b3d0ef8c8.png)

![image](https://user-images.githubusercontent.com/5434970/43380498-59c79766-939f-

[2018-07-30 21:42] bariscaglar commented on #96
Please reopen with the additional information.

[2018-07-30 21:42] #96 closed

[2018-07-30 21:42] bariscaglar commented on #111
Thank you for the information.

[2018-07-30 21:42] #111 closed

[2018-07-30 21:58] bariscaglar commented on #113
@JWasdin is your mounted directory under C:\users as well? Also @SK5277-SINGH and @JWasdin can you report on which OS you're on (Result on Winver)?

[2018-07-30 22:03] shirhatti commented on #114
[code]

[2018-07-30 22:06] shirhatti commented on #114
@kbdavis07 It's conceivable that you aren't even hitting the custom error module. You may be hitting be hitting an error like malformed config that prevents the error module from even being initialized.

You could try enabling FREB to what's setting the 500 error.

Are you able to see detailed error pages for let's say HTTP 4xx responses?

[2018-07-31 07:43] JohanSpannare commented on #96
Here is an example:
[code]

docker build --build-arg SITENAME=TestSite .
Sending build context to Docker daemon  4.096kB
Step 1/4 : FROM microsoft/iis:nanoserver-sac2016
nanoserver-sac2016: Pulling from microsoft/iis
Digest: sha256:1914f6fa5a3f4bced7f18a857c452df859c5f246bb11e2d107991daab6492549
Status: Downloaded newer image for microsoft/iis:nanoserver-sac2016
 ---> a6bfaba3775b
Step 2/4 : SHELL

[2018-07-31 08:30] JohanSpannare commented on #96
I can confirm that the -confirm:**$false** solves the "Remove-IISSite : Object reference not set to an instance of an object." error.

Havent tried start and stop sites yet.

[2018-07-31 13:59] glenncarr opened #115 "Install-WindowsFeature NET-WCF-HTTP-Activation45 failing on microsoft/iis container"
I'm new to this and experimenting; attempting to add NET-WCF-HTTP-Activation45 to a microsoft/iis based container.  What am I missing?  Thanks in advance.

Starting container like this:
`docker run -v d:\:c:\ddrive -it --entrypoint powershell microsoft/iis`

Result is
[code]
![image](https://user-images.githubusercontent.com/367292/43463923-6677b620-949f-11e8-86df-8197512f0dc0.png)

Host: Server 2

[2018-08-01 20:12] JWasdin commented on #113
@bariscaglar I actually mounted a subdirectory within the `wwwroot`. I had an index.html file in this subdir, and when I shifted the html file to another name it seemed to resolve the issue. Not certain why this was the case.

Running on Win10 Pro

[2018-08-01 22:00] mcy94w commented on #113
Hi @JWasdin :
Please make sure you don't have conflict files between the source folder and the target folder.

[2018-08-02 15:29] JWasdin commented on #113
@mcy94w The target folder is not created until the source folder is mounted so I don't think there should be any conflict between the files given they are added to subdirs instead of the `wwwroot`.

[2018-08-02 18:26] mcy94w commented on #113
@JWasdin  I see. Could you please paste the result for `(Get-Acl c:/path/to/your/mapped/file).Access`

[2018-08-04 17:58] Rakaim commented on #26
Same error with a build I downloaded today:

Docker version 18.06.0-ce, build 0ffa825

Even the first layer matches hashes.

![image](https://user-images.githubusercontent.com/23176626/43679136-89bbf198-97e5-11e8-9b67-2126685f81f8.png)

Using Windows Server Core so while I'm new to Windows Docker fun, I'm *fairly confident* that the command `docker-machine upgrade default` doesn't apply here.

[2018-08-06 16:38] JWasdin commented on #113
@mcy94w

Here is the requested response, scrubbed a bit since it is a work station:

[code]

[2018-08-06 17:19] mcy94w commented on #113
Hi @JWasdin :

I see. In this case BUILTIN\Users does not have access to the file. As a result, IIS will not have access. I don't think any folder under user profile will be accessible if map to container.

[2018-08-06 21:23] shirhatti commented on #114
Hi. We're closing this issue as no response or updates have been provided   in a timely manner and we have been unable to reproduce it. If you have more   details and are encountering this issue please add a new reply and re-open   the issue.

[2018-08-06 21:23] #114 closed

[2018-08-06 21:26] shirhatti commented on #113
@JWasdin Can you trying either volume mounting a directory that BUILTIN\Users has access to OR grant access to BUILTIN\Users on the directory that you are trying to volume mount into your container.

There's not much IIS can do at this to mitigate the issue you're seeing

[2018-08-06 21:26] #113 closed

[2018-08-07 08:51] SK5277-SINGH opened #116 "In Docker not able to register a third party DLL using regsvr32"
FROM microsoft/iis
SHELL ["powershell","-command"]

RUN New-Item -Path $env:systemdrive\inetpub\XpServerDllFiles -Type Directory
COPY ./My.dll /inetpub/XpServerDllFiles
RUN Start-Process C:\Windows\SysWOW64\regsvr32.exe C:/inetpub/XpServerDllFiles/My.dll

EXPOSE 4849

[2018-08-08 00:05] Lxiamail commented on #115
@glenncarr I tried the repro steps on a server 2016 (version 1607) VM container host, couldn't repro the problem. Can you try "Install-WindowsFeature NET-WCF-HTTP-Activation45" on the container host machine?

[2018-08-08 12:43] lwsrbrts opened #117 "Overview information host port mapping incorrect"
Perhaps I've missed something but should this in the example:

`docker run -d -p 8000:8000 --name my-running-site iis-site`

Not instead be:

`docker run -d -p 8000:80 --name my-running-site iis-site`

Since the only exposed port in the Dockerfile is 80, mapping to the container on 8000 won't work.

[2018-08-08 15:52] glenncarr commented on #115
Sure.  Here is the output from the VM container host, along with some version info:

[code]

[2018-08-08 22:00] glenncarr commented on #44
I was able to replace `ServiceMonitor.exe w3svc`, which was failing with
[code]
with what Elton Stoneman's script:
https://blog.sixeyed.com/windows-weekly-dockerfile-13-iis-logging/

My Dockerfile now (stripped of my app-specific commands):
```# escape=`
FROM microsoft/iis:windowsservercore
SHELL ["powershell", "-Command", "$ErrorActionPreference = 'Stop'; $ProgressPreference = 'SilentlyContinue';

[2018-08-09 18:12] sujitnayak commented on #115
@glenncarr Could you please zip and attach all the logs from the %windir%\logs\cbs and %windir%\logs\dism folders? Thanks.

[2018-08-10 02:34] glenncarr commented on #115
@sujitnayak here ya go
[container-logs.zip](https://github.com/Microsoft/iis-docker/files/2276393/container-logs.zip)
[host-logs.zip](https://github.com/Microsoft/iis-docker/files/2276394/host-logs.zip)

[2018-08-10 02:43] glenncarr commented on #115
@sujitnayak Here they are...

[container-logs.zip](https://github.com/Microsoft/iis-docker/files/2276401/container-logs.zip)
[host-logs.zip](https://github.com/Microsoft/iis-docker/files/2276402/host-logs.zip)

Thanks,
Glenn

[2018-08-14 17:34] tescherm opened #118 "Send IIS logs to stdout"
Hey all, it would be great if the `iis` image logged to standard out.

One approach would be to [Relay IIS Log Entries](https://blog.sixeyed.com/relay-iis-log-entries-to-read-them-in-docker/), but there may be other more extensible approaches.

[2018-08-15 20:22] KevinBurton opened #119 "Cannot start IIS"
I have installed docker:
Client:
 Version:           18.06.0-ce
 API version:       1.38
 Go version:        go1.10.3
 Git commit:        0ffa825
 Built:             Wed Jul 18 19:05:28 2018
 OS/Arch:           windows/amd64
 Experimental:      false

Server:
 Engine:
  Version:          18.06.0-ce
  API version:      1.38 (minimum version 1.24)
  Go version:       go1.10.3
  Git commit:       0ff

[2018-08-20 20:44] tescherm opened #120 "nanoserver:1803 based image?"
Hey all, I notice that there isn't a `microsoft/nanoserver:1803` based image. Are there any plans to add one?

[2018-08-24 00:53] shirhatti commented on #120
Unfortunately, no. `microsoft/nanoserver:sac2016` is the only supported nanoserver for IIS.

[2018-08-24 00:53] #120 closed

[2018-08-30 12:05] inri13666 commented on #69
https://hub.docker.com/r/nanoserver/iis-php/

[2018-09-05 08:29] wsc9108 commented on #117
Agree, I test and find the same!

[2018-09-05 09:40] wsc9108 commented on #119
Hi Kevin,

I also run into this issue, and have some findings to share,
1st of all, I think this doc has mistake at this command line
docker run -d -p 8000:8000 --name my-running-site iis-site,
because in the container, there is no opening port 8000 at all, the only open port in it, is 80
#in the container
PS C:\inetpub\wwwroot> netstat -ano | findstr "80"
  TCP    0.0.0.0:80             0.0.0.0:0

[2018-09-11 11:35] vrishaligiri commented on #38
@mansing2 Can you share your code here? I'm in need of similar solution and fairly new to Docker.

[2018-09-14 17:44] tburnett80 commented on #55
I couldn't seem to get this to work. I eventually had to override the entry point to run a powershell script for initializing on run.

my script would set the -e variables as machine level vars inside the container, perform web.config transform based on the ASPNET_ENVIRONMENT variable passed ( from this article [https://anthonychu.ca/post/aspnet-web-config-transforms-docker-containers/](ASP.NET We

[2018-09-14 17:49] tburnett80 commented on #2
I couldn't seem to get this to work. I eventually had to override the entry point to run a powershell script for initializing on run. We are in the process of moving to core but have to stick with Framework for the near future for some of our stuff and moving to Docker over Nuget for Octopus deployments was painful for Framework projects.

my init script would set the -e variables as machine level

[2018-09-17 21:07] shirhatti opened #122 "Bump up ServiceMonitor issue for October releases"

[2018-09-17 21:14] shirhatti commented on #119
@KevinBurton As pointed out by @wcs9108 you're mapping to the incorrect port in the container. Trying mapping to port 80 inside the container instead as that the port the default site binding in IIS is listening on.

[2018-09-17 21:14] #119 closed

[2018-09-17 21:17] shirhatti commented on #117
0caffd519f01c876d7e4d9e937f700564b2f4115

[2018-09-17 21:17] #117 closed

[2018-09-18 09:02] KevinBurton commented on #119
Thank you. This moved me forward.  Now the Chrome request is giving me "Sorry, an error occurred while processing you request."

[2018-09-19 19:15] tburnett80 commented on #48
Been a little over a year, still nothing on this?

[2018-09-29 22:53] Cloudmersive commented on #35
No reply on this?

[2018-10-01 08:10] KevinVording commented on #35
I logged in on the IIS Server inside the container, by hooking onto the IP address and its credentials. It's been a while so I'm not 100% sure on how I did it, however I wrote my thesis on the subject so I can check it later.

From there I was able to change any setting from the website running in the container. Inside IIS I had to change a few settings, so not just in the web.config, but also in

[2018-10-01 16:36] shirhatti commented on #35
@kbdavis07, @Cloudmersive Please open new issues if you continue to have problems. We do not actively monitor closed issues.

[2018-10-01 21:44] bariscaglar commented on #115
@glenncarr in the meantime, would starting from the official WCF container image make more sense?

@sujitnayak do you have any updates on this?

[2018-10-03 21:51] PTC-JoshuaMatthews commented on #67
@shirhatti I get the error '&& is not a valid separator in this version of docker' when I attempt to build an image with this code. Any suggestions? If I make them 3 separate RUN statement I get an error about indexing in an array invalid position argument.

[2018-10-24 15:08] gprashanthkumar opened #126 "How to install smtp feature?"
Hi,
Any idea on getting  SMTP service enabled on IIS-docker? without which we cannot take our site onto container.

[2018-10-24 16:51] bariscaglar commented on #126
SMTP is not owned by the IIS team, but it would be enabled just as well as any feature using [dism](https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/enable-or-disable-windows-features-using-dism) or PS Cmdlet [Enable-WindowsOptionalFeature](https://docs.microsoft.com/en-us/powershell/module/dism/enable-windowsoptionalfeature?view=win10-ps).

[Here](https://github.com/Microsoft

[2018-10-24 16:51] #126 closed

[2018-11-17 12:24] kkbruce opened #129 "use `--user` param in iis container"
Hi

I try use SMB Global Mapping in iis docker, but always get problem.

problem in here: https://github.com/moby/moby/issues/37863

I find new clue, if iis container use `--user` from `docker run`, container just some time will get problem.

[2018-11-19 18:59] mcy94w commented on #129
Hi @kkbruce :

Could you paste the error message here. I did not see the issue wieh running with -u flag.

[2018-11-28 05:11] JoseFMP commented on #47
For me this issue is still happening with the latest image by today.

[2018-11-28 17:43] bariscaglar commented on #47
@JoseFMP we no longer support microsoft/iis:nanoserver images. If your problem is elsewhere, please file another issue as this one is already closed.

[2018-12-04 15:41] ScottEDubya commented on #38
I've been searching around for almost 2 days now trying to figure out how to get this to work, and wow, I'm grateful to have come across this thread....

**Dockerfile**:

[code]

**CreateChoco.ps1**:
[code]

note that inside of the powershell script, the variables can be used in two ways:
$env:VAR
or ${env:VAR}

maybe it's not too late to help your future issues! @vrishaligiri

[2018-12-04 16:38] glenncarr commented on #38
Here's an example of how I'm passing in environment variables which are then passed in as arguments to .ps1 scripts with CMD:
[code]

[2018-12-12 02:02] amitsaha commented on #42
Just wanted chime in and say that the 2.0.1.6 release still showed the behavior. I switched to the old release as per above and haven't seen the issue yet.

[2018-12-20 08:31] RPAstunt opened #143 "windowsservercore-1709 with aspnet 4.7.2 crashes when starting container"
I just deployed an ApiRest and a Web into mcr.microsoft.com/dotnet/framework/aspnet   4.7.2-windowsservercore-1709 image and running it perfectly. When I stop the container and try to start it again it crashes and exits with code 2147500037.

My Dockerfile:

FROM mcr.microsoft.com/dotnet/framework/aspnet:4.7.2-windowsservercore-1709

WORKDIR /inetpub/wwwroot

RUN NET USER admin "123456789" /add
RU

[2018-12-20 08:38] RPAstunt commented on #143
This is what I get when trying to exec a powershell: (cause the container stays up for a few seconds)

Service 'w3svc' has been stopped

APPCMD failed with error code 4312

[2019-01-04 23:54] alburgin opened #154 "Adding Cmd.exe at end of docker image results in IIS terminating"
We want to do some run time configuration on container startup.  I have a docker file which consumes the ASP.Net base image and then runs the run time (not build time) configuration using a CMD. (Right now it just does an unzip but later it will do more.)  When I add the line to do the run time configuration, I get the following failures:
"Service 'w3svc' has been stopped

APPCMD failed with error

[2019-01-08 20:03] sujitnayak commented on #115
Sorry for the late follow up. From the DISM log, I can see that Dism failed to load the CBS provider. The CBS log however does not have the traces from the relevant timeframe so I can't see the specific reason.

@glenncarr, could you please try the install command again and re-send the logs so we can get the correct CBS traces?

@shirhatti - We need to follow up with CBS team once we have the corr

[2019-01-14 19:12] sirdank opened #144 "A device attached to the system is not functioning. (Exception from HRESULT: 0x8007001F)"
I get this error when doing a number of different things, namely, `test-connection $env:computer' in a powershell prompt. Steps to reproduce:

1. Provision a "Server 2016 With Containers" VM in azure with a premium storage managed disk. Format the disk using powershell:

	$driveletter = "f"
	$folder = "Data"
	$name = "data"
	$VDname = "data"

	$numberofdisks = 1
	$storagesubFriendlyName = Get-Stor

[2019-01-14 22:40] shirhatti commented on #144
It looks a transient failure with you infrastructure. Do you mind re-trying? If the problem persists, you're better off reaching out to Azure support.

[2019-01-14 22:40] #144 closed

[2019-01-15 19:14] sirdank commented on #144
@shirhatti I understand. I'm not frustrated but couldn't find a github for the windowsservercore image team and thought this might be close enough. Thank you for clarifying that you all are the IIS folks. I've submitted an azure support ticket.

[2019-01-15 19:50] shirhatti commented on #144
Just FYI, this is the forum for Windows containers support- https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowscontainers

[2019-01-15 19:50] shirhatti commented on #144
It is linked to from their DockerHub README page- https://hub.docker.com/_/microsoft-windows-base-os-images

[2019-01-17 20:06] daschott opened #145 ""Verify in browser" docs need updating"
The "Verify in browser" section of the [IIS DockerHub docs](https://hub.docker.com/r/microsoft/iis/) which states:
"With the current release, you can't use http://localhost to browse your site from the container host. This is because of a known behavior in WinNAT, and will be resolved in future. Until that is addressed, you need to use the IP address of the container."

can be removed as this limi

[2019-02-07 19:30] StephenMolloy opened #146 "ERROR: Failed to start or query status of service 'w3svc' error, while setting IIS Web Application authentication"
_From @suseendare on Thursday, 31 January 2019 09:56:48_

Trying to update authentication of Web Application in IIS, using Powershell via dockerfile.
Tried directly using RUN instruction as well as using a ps1 file.

`Set-WebConfigurationProperty -Filter "/system.webServer/security/authentication/anonymousAuthentication" -Name Enabled -Value False -PSPath IIS:\ -Location "'Default Web Site/MyWebAp

[2019-02-12 06:13] eriawan commented on #30
@bariscaglar

I totally agree! This information contained here should be documented, and it would be best if the actual MS Docs page has this information as "best practice" or "sample use cases" article for IIS on Docker.

[2019-02-19 09:05] Whpitot opened #147 "no matching manifest for unknown in the manifest list entries"
I use Docker on Ubuntu, and when I tried to pull a this image with this command
`docker build -t iis-site .`

I got this message:
`no matching manifest for unknown in the manifest list entries`
what wrong about this?

[2019-02-19 22:04] shirhatti commented on #147
The IIS image is a Windows-only image that currently works on only one of the following platforms. The IIS image will not run on linux.

[code]

[2019-02-19 22:04] #147 closed

[2019-02-20 14:46] liberdis commented on #42
Can confirm issue persists with 2.0.1.6 (current) ServiceMonitor.exe against microsoft/aspnet:4.7.2-windowsservercore-ltsc2016 , The July-2017 1.1.0.1 version also caused the same symptom and I have had to roll back to 1.0.0.1 as suggested at the top of this thread.

[2019-02-20 15:13] liberdis opened #148 "ServiceMonitor 'APPCMD failed with error code 183' @ docker start for aspnet:4.7.2-windowsservercore-ltsc2016"
FROM microsoft/aspnet:4.7.2-windowsservercore-ltsc2016
create a container with some docker run -e environment variables.
docker stop container
docker start container
expected result: container enters and maintains running state
actual result: container crashes, producing error at tail of log when servicemonitor attempts to start up: 'APPCMD failed with error code 183'

known workarounds:
The July-

[2019-02-20 15:47] liberdis commented on #30
@JohanSpannare

What's the difference between reading the clear-text secret from a file inside the container vs passing it in as an environment variable? In both situations you're persisting the secret in plaintext inside the container which is generally seen as the significant problem to solve here. You also don't address the source of these secrets that are held externally to the container - tho

[2019-02-21 14:58] JohanSpannare commented on #30
@liberdis By using secrets you dont expose the "secret" to the host. Secrets are like configs, except that they are not readable from outside the container. Only the container it self has access and can read it.
So in my example its safer to use an secret then simply have an environment variable that are both readable from the host, and any administrator of the container platform you are using.

[2019-02-22 14:19] liberdis commented on #30
@JohanSpannare

I apologize for my apparent ignorance - I'm still learning some of the nuance of windows containers and I am not following you - do you mean you are using an external secrets manager like Vault or implementing an orchestrator with a secrets manager like Docker Swarm?

I thought the context of the discussion was implementing SSL in a singleton (standalone) container, so when you say

[2019-02-22 14:40] JohanSpannare commented on #30
@liberdis
I am referring to the Docker Configs and Docker Secrets that are available in Docker Swarm

[2019-02-27 19:40] Tim-Co opened #156 "Anyone get Application Initialization working?"
Here's my dockerfile set up..

    RUN powershell.exe -NoProfile -Command Add-WindowsFeature Web-AppInit; `
    		Import-Module WebAdministration ; `
    		Set-ItemProperty 'IIS:\AppPools\DefaultAppPool' -name startMode -Value AlwaysRunning ; `
    		Set-ItemProperty 'IIS:\Sites\Default Web Site' -name applicationDefaults.preloadEnabled -Value True ;

Here's my web.config...
[code]

I can't get th

[2019-03-11 16:33] sixeyed opened #149 "Nano Server image for 1809?"
The latest 1809 image only has a Windows Server Core variant - `mcr.microsoft.com/windows/servercore/iis:windowsservercore-ltsc2019`. Is there going to be a Nano Server image update?

[2019-03-11 18:05] shirhatti commented on #149
Unfortunately, no. We've dropped support for IIS on Nano after ltsc2016. Part of reducing the image size in the Windows base image meant IIS no longer tenable.

[2019-03-11 18:05] #149 closed

[2019-04-16 21:23] josh-mclean opened #150 "Deleting Default Web Site Broke Container"
We tried deleting as well as stopping the default website via a powershell script ran from our dockerfile.

This resulted in errors on the site and we were unable to get the site working.  What is the best practice here?  When using the microsoft/iis image are we required to keep the Default Web Site and put our application on it?  We were able to get the site working by keeping the Default Web Si

[2019-05-30 14:45] Ramses90 opened #152 "Application Pools > Advance Settings"
Question: How can I change or set user credentials on a selected application pool. I know how to do it in my local machine but how can I change that without a GUI since IIS image doesn't comes with a GUI

[2019-06-01 15:47] Ankit3794 commented on #46
@shirhatti In some conditions we need to restart IIS without stoping the container. So, Can we achieve this with overriding any settings. I have tried to override EntryPoint but no luck.

[2019-06-04 19:06] bariscaglar commented on #152
You should be able to run PowerShell commands in your dockerfile to add the credentials. Just run the [commands ](https://docs.microsoft.com/en-us/powershell/module/iisadministration/set-iisconfigattributevalue?view=win10-ps) while building your application image. This link is for Set-IISConfigAttributeValue. You can check applicationHost.config file to see what attribute is added. The encryption

[2019-06-04 19:12] bariscaglar commented on #46
@Ankit3794 what do you mean by restarting IIS? You can safely recycle app pools and that won't stop the container. If you shut down the service, which iisreset will do, the service monitor will see this and exit and since by default that is the entry point program, the container will stop. You could override the EntryPoint, which I do not recommend, to something that is unrelated to IIS. Only then

[2019-06-04 23:47] Ramses90 commented on #152
Thank you for the recommendations!

[2019-06-05 11:36] Ankit3794 commented on #46
@bariscaglar As of now I have changed the entry point of my container to ping localhost and that does not stop container at iisreset. I will check App pool recycle will work in my case or not.

[2019-06-06 20:51] chetanchougle commented on #46
@Ankit3794   Example  pls ?

[2019-06-06 20:59] chetanchougle commented on #42
Still no fun with microsoft/dotnet-framework:4.7.2-runtime-windowsservercore-ltsc2019 . bug exists

[2019-06-07 08:07] chetanchougle commented on #42
@shirhatti   Even it did not work for the older ServiceMonitor . It stops the container

[2019-06-25 11:49] sumantfordev opened #153 "asp.net application logs to std out"
is there a way to forward all asp.net application logs to std out

[2019-07-05 15:24] dropsonic opened #157 "APPCMD failed with error code 4312"
I have a very simple image with ASP.NET application:

[code]

I create a container with this command:
`docker run -p 8085:80 --name test1 myimage -e CONNECTION_STRING='Data Source=(local);Initial Catalog=mydb;User Id=sa;Password=mypass'`

But it immediately stops with the following error:
[code]

Please advise why I receive this error.

[2019-08-04 09:00] aguyngueran commented on #55
I have just run into this issue when containerizing some legacy app.

I understand that by design separating by the containers looks more clear than using one with different app pools but it doesn't make it easier to put the existing app into the containers.

In my case I was able to have separated the whole into five, six containers. Now I would like to focus myself on other typical monolithic ap

[2019-08-09 21:54] jlphillips75 opened #155 "Web Applications Supported?"
It seems that web applications are not supported. I've tried a number of methods creating a new web applications in my Dockerfile to no avail. No matter where the physical path, no matter which application pool is used, trying to hit the application yields a 404. To get a better handle on the specifics of this I tried calling from PS within the container to find the 404 followed by this exception:

[2019-08-09 22:35] dozer75 opened #158 "Using the aspnet images in docker-compose hangs execution"
When using the `mcr.microsoft.com/dotnet/framework/aspnet:4.7.2` image as base for a new docker image or standalone with docker-compose, it hangs.

The following `docker-compose.yml` content is the easiest way I have found to reproduce it with the command `docker-compose up` (without -d) (it can even be reproduced with the `mcr.microsoft.com/dotnet/framework/aspnet:4.7.2` image too).

[code]

I su

[2019-08-14 22:29] bariscaglar commented on #157
You have two problems with your approach. First one is myImage needs to come last, after the environment variables. You also need double quotes around your connection string as it has spaces. This has worked successfully on my machine:

`docker run -p 8085:80 --name test1 -e CONNECTION_STRING="Data Source=(local);Initial Catalog=mydb;User Id=sa;Password=mypass" myimage`

[2019-08-14 22:29] #157 closed

[2019-08-14 22:35] bariscaglar commented on #148
Can you post your exact dockerfile and the docker run command you use? I recently closed a similar issue in this repo. Perhaps it could provide an answer?

[2019-08-14 22:50] bariscaglar commented on #153
Currently, no easy way, not unless you write a forwarder. which isn't easy. I am aware of an effort by the Windows team to do this natively, although I don't have a timeline or the details. There's also a prototype on GitHub called "Metric Hub" if you want to take a look at how one such forwarder can be written.

[2019-08-14 22:50] #153 closed

[2019-08-15 14:38] sumantfordev commented on #153
Thanks for the response, since logs/errors to std out for a docker container is a standard aproach followed, so i am looking forward for this option for windows containers.
Can you share any link for metric hub,

For now what i have planned is to use log4net with a udp log appender , and my container startup script is running a udp listener that continuously writes log to console.

[2019-08-15 18:15] bariscaglar commented on #153
https://github.com/bangbingsyb/MetricHub is the link. This is just a prototype to give you an idea of how one such system could work. If you were to take IIS out of the picture and go to .net core and self hosting, then you could directly log to stdout from your self-hosted application if I am not mistaken. The point is that the entry point application should be the one doing the stdout and not an

[2019-08-28 02:51] guhuajun commented on #115
https://hub.docker.com/_/microsoft-dotnet-framework-wcf wcf has its own image.

[2019-08-30 05:13] Cloudmersive commented on #156
This is an important issue.  Why is it not being addressed?

[2019-08-30 19:47] Vaccano commented on #146
This is happening with a ltsc2019 based container for me.

[2019-08-30 20:36] bariscaglar commented on #156
@jhkimnew can you take a look?

[2019-08-30 23:20] jhkimnew commented on #156
@Tim-Co @sstockhammer

Did you try to enable IIS FREB for all the status code (200-999) and then check if the configured initializationPage request (/forms/assignmentqueue.aspx) was correctly made with looking at the freb logs?

If you see only IIS log files, you won't be able to see the initializationPage request because IIS does not log them.

[2019-08-31 00:10] jhkimnew commented on #156
BTW, here is how to enable IIS Freb tracing on container.

1. Install IIS Freb with running below command:
Add-WindowsFeature Web-Http-Tracing

2. Enable Freb for Default Web Site with running below command:

Set-WebConfigurationProperty -pspath 'MACHINE/WEBROOT/APPHOST' -filter "system.applicationHost/sites/site[@name='Default Web Site']/traceFailedRequestsLogging" -name "enabled" -value "True"

[2019-09-16 15:55] danassetms commented on #146
This is happening with a ltsc2019 based container for me too
Some work and some randomly crash - any fix?

[2019-09-27 09:18] Juphex opened #160 "Changelog"
What have you changed in the latest version of the IIS Image? My Services wont work anymore...

[2019-09-30 17:46] bariscaglar commented on #160
Month to month releases are for servicing, based on new Windows Image. Perhaps you have some other dependency that has a different behavior. What specific failure are you observing?

[2019-09-30 18:20] Juphex commented on #160
net.tcp on localhost (using hosts services)

[2019-09-30 18:38] bariscaglar commented on #160
What exactly is happening?

[2019-09-30 18:40] Juphex commented on #160
it doesnt connect to the localhost by default anymore. E.g. you could connect to localhost:7377/Service.svc
It isn't working anymore. I resolved the problem anyway.

[2019-09-30 18:40] #160 closed

[2019-10-01 12:19] StasClick opened #161 "APPCMD failed with error code 4312"
I have a docker file with some variables and CMD instruction. It do not work. Simplified example below.

Docker file:

docker info:

Commands:

Result:

[2019-10-01 12:32] StasClick commented on #161
Interesting to note, if I simply remove line `ENV MY_SUPER_VARIABLE="Hello world!"` it will work. I cannot understand it.

[2019-10-01 17:32] bariscaglar commented on #161
You don't need to define the entrypoint. IIS image already defines it. See the example on the first page.

[2019-10-01 19:28] StasClick commented on #161
@bariscaglar, yeah, I did it just for testing. But without this line result is the same.

[2019-10-01 21:12] bariscaglar commented on #161
Did you also remove CMD?

[2019-10-02 07:28] StasClick commented on #161
I need CMD. No matter what I put here. It is not work.
For example:
[code]
Simply removing ENV solves the issue. But I need both instructions.

[2019-10-04 08:07] StasClick commented on #161
Hi. I found why it is not working. The CMD command instead of executing "powershell.exe" it extends argument list of ENTRYPOINT. That's why it stop to work.

So the question is, why CMD do not execute executable file in exec form?

[2019-10-23 06:58] wawa0210 opened #162 "Can there be a sample to support the latest nanoserver?"
I saw that there is a sample of nanoserver that provides 2016 very early, can you provide a new Dockerfile demo for nanoserver:1903?

[2019-10-23 21:43] bariscaglar commented on #162
Hi @wawa0210, IIS is no longer supported on Nanoserver. That's why there's no longer an IIS image for Nano:1903.

[2019-10-23 21:43] #162 closed

[2019-11-08 17:04] barnuri commented on #5
1) Make sure that your files not ignore in .dockerignore
2) copy this Dockerfile
`
FROM microsoft/aspnet
WORKDIR /inetpub/wwwroot
COPY . /inetpub/wwwroot
# Give Full Access To Folder
RUN icacls 'c:/inetpub/wwwroot' /grant 'Everyone:(OI)(CI)F'
# Check that the files have been successfully copied
RUN dir
`
3) docker build -t test .
4) docker run -p 8001:80 test

[2019-11-08 17:05] barnuri commented on #5
1) Make sure that your files not ignore in .dockerignore
2) copy this Dockerfile

[code]

3) docker build -t test .
4) docker run -p 8001:80 test

[2019-12-17 12:06] sergius76 opened #165 "I can't download from ubuntu iis image"
when i try to make a docker pull mcr.microsoft.com/windows/servercore/iis

show me that Error:
no matching manifest for linux/amd64 in the manifest list entries.

how can i fix it?

I am using docker in ubuntu 19.04

regards

[2019-12-17 18:38] bariscaglar commented on #165
IIS is Windows only and can only be used in Windows containers. The manifest you're downloading is a "Manifest List" and it will have no matching entry for your OS.

[2019-12-17 18:38] #165 closed

[2020-02-05 21:18] ntxarch opened #169 "use HTTP Context variables inside Containerized WebSite"
I've containerized a ASP.NET website, running under gMSA.  The website retrieves the value Request.ServerVariables("REMOTE_USER") to validate the user has access to the application.
When running in the container this value comes back as null/blank.  Is there a method to retrieve this value while running in the container?
We are using the 4.7.2 image for Server 2019.

If there is a more appropriate

[2020-02-06 12:16] saipavan9 commented on #5
Anyone share the solution to this error. No Solution provided above is working

[2020-02-06 12:18] saipavan9 commented on #5
your solution is also not working for me. Can you please help me with this problem??

[2020-02-06 14:12] bar-codeoasis commented on #5
i think microsoft fix there problems in diffrent docker images
best way to check it is to use last version of visual studio 2019 and add docker support from there
its create for you dockerfile & dockerignore file

[2020-02-07 07:23] saipavan9 commented on #5
I am not able to add docker support for existing project. I can get that option for new project but I don't find that option on existing project.

[2020-02-12 21:49] cposton commented on #30
I have most of a container image that handles loading certificates, etc. using a bootstrapper, but the issue I'm running into is not being able to find a way to disable TLS 1.0/1.1 to get past security checks we have. I've performed the registry edits per Microsoft documentation (https://docs.microsoft.com/en-us/windows-server/security/tls/tls-registry-settings), but without a way to "reboot", the

[2020-02-12 21:51] artisticcheese commented on #30
Did you try `net stop http & net start http`

[2020-02-12 22:36] cposton commented on #30
I have been unable to stop the http service during the build of the Dockerfile. `net stop http` fails initially due to dependencies, using `net stop /y` gets past that but then it is unable to complete in time for it to time out and return a failure code. I also tried PowerShell `Stop-Service` which I might can get to work with a lot more code to stop dependencies first (using -Force did not work)

[2020-02-13 01:17] cposton commented on #30
I'm embarrassed to say that the entire issue was due to a mistakenly typed key path. Apologies.

[2020-02-25 03:44] BogdanDamianC commented on #154
similar issue for me I have PS script that executes ServiceMonitor.exe w3svc at the end
For debugging purposes I've replaced the ServiceMonitor.exe w3svc with a long sleep.
Than I logged into the running instance and my site status is "state:Unknown".
If I do an IISreset everything starts working.
But if I do an iis reset immediately after the instance starts I get this error "The system cannot fi

[2020-03-03 22:33] HongGit commented on #169
Since this is not an issue with ASP.NET container, and the issue has been transferred to IIS team.  I am closing this issue.

[2020-03-05 17:03] KarthikKumarBA opened #170 "Its not running on the top of linux docker is containers right this docker images not working"

[2020-03-24 17:14] Fufe1ok opened #172 "Problems with Install-WindowsFeature"
I am tring to deploy .net framework application in IIS container. But i need to install  Web-Asp-Net45, and all worked fine in my laptop, but when i tried to make the same on build server ( Windows Server 2016) it failed, and i can not find the solution.
![image](https://user-images.githubusercontent.com/32967290/77455863-1553eb80-6e03-11ea-94a9-83706dea27b4.png)
 When i tried to make the same usi

[2020-03-24 17:21] Ankit3794 commented on #172
@Fufe1ok  Which base image you are using for windows server 2016?

[2020-03-24 18:42] Fufe1ok commented on #172
I try to use several images, currently i use image, whuch was pulled, just using `docker pull microsoft/iis` but also i had same problem on `mcr.microsoft.com/windows/servercore/iis:windowsservercore-ltsc2016` image

[2020-03-24 18:55] Fufe1ok commented on #170
If i understand you correctly - no, this image wont working on linux machine, only on Windows OS

[2020-03-25 10:16] Ankit3794 commented on #172
@Fufe1ok Can you try with this image `docker pull mcr.microsoft.com/dotnet/framework/aspnet` this image?

That image includes

- Windows Server Core as the base OS
- IIS 10 as Web Server
- .NET Framework (multiple versions available)
- .NET Extensibility for IIS

[2020-03-25 13:09] Fufe1ok commented on #172
@Ankit3794 thank you a lot, it work))

[2020-04-05 22:08] jhkimnew commented on #172
Hi @Ankit3794, this is a known issue. Probably this will be fixed in the next build.

https://support.microsoft.com/en-us/help/4542617/you-might-encounter-issues-when-using-windows-server-containers-with-t

FYI, the workaround of this known issue is to match the host’s version with the container’s version.

[2020-04-05 22:08] #172 closed

[2020-04-27 05:40] jhkimnew commented on #170
IIS docker image supports only Windows OS.

[2020-04-27 05:40] #170 closed

[2020-04-27 05:42] #156 closed

[2020-06-18 16:49] porrascarlos802018 opened #174 "Enable32bitapponwin64 fails on image iis:20190515-windowsservercore-ltsc2019"
If we deploy this docker file:
ARG BASE_IMAGE=mcr.microsoft.com/windows/servercore/iis:20190515-windowsservercore-ltsc2019
#ARG BASE_IMAGE=mcr.microsoft.com/windows/servercore/iis:20200512-windowsservercore-ltsc2019
FROM ${BASE_IMAGE}

SHELL ["powershell"]

RUN Import-Module WebAdministration ; \
    Set-ItemProperty -Path 'IIS:\AppPools\DefaultAppPool' -Name enable32BitAppOnWin64 -Value $true ; \

[2020-07-13 18:02] undecided2013 opened #175 "Image fails to run with gmsa account using --security-opt "credentialspec=" option"
Using command
docker run --security-opt "credentialspec=file://testgmsa.json" --hostname gmsaWeb -it microsoft/iis powershell
The image returns
Service 'w3svc' has been stopped

APPCMD failed with error code 4312

Failed to update IIS configuration

Same command but targeting ltsc2019 works:

docker run --security-opt "credentialspec=file://testgmsa.json" --hostname gmsaWeb -it mcr.microsoft.com/w

[2020-08-04 01:40] qacollective commented on #30
Microsoft seem to have more official guidance on this kind of thing now.

https://docs.microsoft.com/en-us/aspnet/core/security/docker-https?view=aspnetcore-3.1

[2020-08-09 09:03] wenn32 commented on #42
08/2020: Issue still exists.
I had convinced business for migration to Docker.
I was working on migrating monolithic application to Azure/Container but its too unstable and unreliable.
I see lot of blockers running containers in windows.
I am going to hold off until all these basic issues are resolved.

[2020-08-24 15:43] mclausing commented on #30
That is for Core running on Kestrel. This is for IIS.

[2020-08-26 17:51] austincrft commented on #67
I am also getting the error @PTC-JoshuaMatthews mentioned above

[2020-09-08 22:51] iskiselev opened #176 "Environment variables not set if call early"
Due to microsoft/IIS.ServiceMonitor#74, if web call will reach IIS before ServiceMonitor updates environment variables, they will not be updated in affected app pool. As an workaround for this in docker file IIS service may be started manually - it will be started by ServiceMonitor in that case.

[2020-09-09 09:43] kejvi-doko commented on #161
@StasClick I am having the same issue, even when using the docker file coming with [https://github.com/microsoft/dotnet-framework-docker.git](https://github.com/microsoft/dotnet-framework-docker.git). Did you have any success finding a solution?

[2020-09-09 11:28] StasClick commented on #161
@kejvi-doko Hi. Yes, solved. But already not remember how. I guess it was related to some windows updates, and when I downloaded new image version and the issue disappeared.

[2020-09-09 11:28] #161 closed

[2020-09-19 14:15] bestickley commented on #154
I was able to get this working with the start.ps1 script:
[code]

[2020-09-19 18:13] bestickley commented on #48
Any updated guidance on this? I've tried using [this Dockerfile](https://github.com/MicrosoftDocs/Virtualization-Documentation/blob/live/windows-container-samples/iis-arr/Dockerfile) but the ExternalDiskCache module download is unavailable.

[2020-09-22 09:54] bestickley commented on #48
I was able to solved this by installing ARR with chocolatey. See [here](https://chocolatey.org/packages/iis-arr).

[2020-09-22 20:06] shirhatti commented on #48
That Dockerfile references an older version of ARR that is no longer supported. The ExternalDiskCache has been made a part of the ARR installer and does not require a standalone msi

cc @john-hart

[2020-09-24 13:02] bestickley opened #177 "HTTP Error 403.16 - Forbidden for first 5 minutes container is up"
Hello, I'm having an issue where for the first 5 minutes of the container running, I get a HTTP Error 403.16 - Forbidden but then after 5 minutes it's fine. Any ideas?

Here is my Dockerfile and associated scripts. Any advice is welcome. Thank you!

Dockerfile
[code]
setup.ps1
[code]
start.ps1
[code]

[2020-09-25 10:20] bestickley commented on #67
I found [this site](https://docs.microsoft.com/en-us/iis/configuration/system.applicationhost/sites/site/tracefailedrequestslogging#appcmdexe) helpful.

[2020-10-07 10:22] bestickley commented on #177
Does anyone else have this issue? I tried upgrading the image to mcr.microsoft.com/windows/servercore/iis:windowsservercore-ltsc2019 but no luck

[2020-11-13 08:33] erikahub commented on #92
Hi!
I am trying to access an IIS hosted ASP.NET site from a container. Currently I cannot access the site from my host device.
I am using:
Docker ver. 2.3.0.4 , Engine 19.03.12
mcr.microsoft.com/windows/servercore/iis:latest as base image

I have access from outside the container to the the Default Web Site and basic sites (HTML and ASP.NET) I have created. I also have access to the websites insid

[2020-11-26 08:18] pf56 commented on #148
For what it's worth, I am running in to the same error message if I try to restart a container after editing the web.config file.

[code]

The container is now broken and refuses to start.

[2020-12-03 12:37] bestickley commented on #113
Giving full control to Everyone on the host source folder worked for me.

[2020-12-11 23:25] apurvakhatri commented on #5
I was using Windows 2019 with Container EC2 Instance & was facing the same issue. My project was placed in the C drive. I manually changed the permissions of the folder from read-only to full-control & it worked. Used @saipavan9 's Dockerfile.

[2020-12-16 09:47] MassimilianoCuccia opened #179 ""verify in the browser" wrong instructions"
**to verify in the browser open the url htp://YOURIP:8000 or whatever port you used**

the ip returned by
docker inspect -f "{{ .NetworkSettings.Networks.nat.IPAddress }}" my-running-site
doesn't work

Please correct the guide

[2021-01-05 07:13] henrysmith commented on #5
I'm having the same issue.

I think it might be related to windows 2019.  I built it in my local on Windows 10 and it works.  However, when I try to build it in Windows Server 2019 I get the same error.

I tried changing the permissions but it didn't work

`icacls c:\MyApps /grant Everyone:(OI)(CI)F /T`

[2021-01-13 15:01] okarroo opened #180 "change the default website"
Could you please help me as soon as?

How can we change the default website (IIS) and place our app on it (ex: html or Wordpress)

[2021-01-28 19:35] John-Hart commented on #179
thanks @MassimilianoCuccia, we'll look into fixing this

[2021-01-28 19:39] John-Hart commented on #177
@bestickley I recommend looking at this document: [HTTP Error 403.16 when you access a website - Internet Information Services](https://docs.microsoft.com/en-us/troubleshoot/iis/http-403-forbidden-access-website).  Without the specific certificate this isn't something we're going to be able to help you diagnose this.

[2021-01-28 19:39] #177 closed

[2021-01-28 19:47] shirhatti commented on #176
This is a known limitation. Unfortunately, we cannot change the base image to have was/w3svc stopped by default. This would be breaking especially since we're aware a large number of customers override the entry point.

The simple workaround would be to add `net stop /y was` to your Dockerfile

[2021-01-28 19:47] #176 closed

[2021-02-17 18:11] srbhklkrn opened #181 "Non-root user not able to start w3svc service in docker"
I'm working with the docker image `mcr.microsoft.com/dotnet/framework/aspnet:4.8-windowsservercore-ltsc2019`. I've noticed that the default user for windowsservercore is `ContainerAdministrator`.

If I try to run the image with the user `ContainerUser` `docker run -u ContainerUser mcr.microsoft.com/dotnet/framework/aspnet:4.8-windowsservercore-ltsc2019` I get the following error:

]. I think that

[2021-03-31 11:34] Kaderbhai commented on #155
Was there a resolution for this issue, I've got the same issue. SImilar route attempted to start the app using ServiceMonitor.exe w3svc and editing the IIS default pool and site more directly using the powershell cmdlets. From what I can tell IIS is running correctly but not running the webconfig for some reason or another.

Any ideas? Thanks

[2021-04-29 18:31] JohnTrivedi opened #184 "Unable to enable SSL binding of the website after applying KB5001384"
### Describe the Bug

I am running Windows Server 2019 build # 10.0.17763.1879 and my web server is running under windows containers using mcr.microsoft.com/dotnet/framework/runtime:4.8-windowsservercore-ltsc2019 base image. It was working fine before applying latest Cumulative patch KB5001384 and after the patch containers fails to create SSL bindings for the website. After uninstalling the above

[2021-05-12 16:09] dbaltor commented on #148
Run into the same error with `dotnet/framework/aspnet:3.5`  image when trying to restart IIS. As already said, the workaround is to downgrade to an old ServiceMonitor version found [here](https://github.com/Microsoft/iis-docker/raw/8ffb45926630255cff635b6c693e0efd43a96aa7/windowsservercore/ServiceMonitor.exe).

[2021-05-12 16:10] dbaltor commented on #42
FWIW, run into the same error with `dotnet/framework/aspnet:3.5`  image when trying to restart IIS. As already said, the workaround was to downgrade to an old ServiceMonitor version found [here](https://github.com/Microsoft/iis-docker/raw/8ffb45926630255cff635b6c693e0efd43a96aa7/windowsservercore/ServiceMonitor.exe).

[2021-05-14 08:18] PixelRobots commented on #150
What I do is:

Set up the application pool if needed and then use the below. Thats if you want ssl, you can change the new-website

[code]

[2021-05-28 08:19] ronysamuel opened #185 "Cannot load container in Docker on Mac OS"
The error displays that the container cannot be loaded on this operating system. Containers are for isolation of environment and hence we expect that it can run cross-platform.

[2021-06-04 02:51] sharpninja commented on #185
IIS is a component of Windows.  You can only host an IIS container on windows.

[2021-06-15 14:41] SergeyFilippov opened #187 "Docker build fails for ltsc2019"
**Environment**
Windows Server 2019 [10.0.17763.1999]
Docker version 20.10.7, build f0df350

**Docker image hash**
5b60ac4e9e92 [ltsc2019 10.0.17763.1999]

**Description**
Trying to build a dockerfile produces the following error:

**Steps to reproduce:**
1. Clone the repository
2. Go to "windowsservercore-ltsc2019" directory
3. Execute `docker build -t iis .` command

**Notes**
From what was able

[2021-06-17 13:16] erenes opened #188 "IIS Servicemonitor crashes when %18 is used in environment variable"
The IIS servicemonitor and therefore our containers crash if the environment variable contain a %## sequence that resolve to an invalid XML character when URL encoded.

Steps to reproduce:
1. `docker run -p80:80 -e TEST="%18" mcr.microsoft.com/windows/servercore/iis`

**Expected:** Image runs and I can access an IIS test page on http://localhost
**Actual:** Image runs and immediately crashes.
[cod

[2021-06-27 12:10] #84 closed

[2021-06-29 12:57] Sudhansup commented on #187
I am facing the same issue

[2021-06-30 01:17] rawahars commented on #181
Hi,

Do we have any workaround or guidelines around using IIS with a non-root user (ContainerUser) inside the containers?
Any help would be highly appreciated.

[2021-07-11 12:59] belltreee commented on #161
[Environment].
Docker Engine:20.10.7, build f0df350
Docker for desktop: 3.5.2

CMD ["C:\ServiceMonitor.exe", "w3svc"] to
ENTRYPOINT ["C:\ServiceMonitor.exe", "w3svc"].

In my environment, the container was started and the environment variable was also set to the container.

[2021-07-27 18:27] QATew commented on #42
Can anyone explain how to downgrade to an old ServiceMonitor?

[2021-07-28 11:22] dbaltor commented on #42
You need to download the old version and include it in your container when building the image using something like
`COPY ServiceMonitor.exe /` on your Dockerfile.

[2021-10-07 15:39] lachlan-vass commented on #154
Just want to say @WolfMessing solution worked for me, both locally and running ECS container services. Thank you very much

[2021-10-30 03:30] antt0481 opened #191 "FROM mcr.microsoft.com/windows/servercore/iis:windowsservercore-ltsc2022"
failed to register layer: Error processing tar file(exit status 1): link /Files/Program Files/Common Files/System/ado/en-US/msader15.dll.mui /Files/Program Files (x86)/Common Files/System/ado/en-US/msader15.dll.mui: no such file or directory

I run on my Mac and get that error, could you advice me

[2021-11-12 15:14] xinfli opened #192 "Several service failed to start within the IIS docker image"
Tried several tag of the iis image, both got error that several service failed to start.

**Reproduce step:**
 - Run IIS docker image:
   `docker run -d mcr.microsoft.com/windows/servercore/iis:windowsservercore-ltsc2019 -name WinCore2019LTSC`
 - Connect to powershell of the container:
   `docker exec -it WinCore2019LTSC powershell`
 - Search error event logs:
[code]

**Expected result:**
Should n

[2021-11-23 23:25] Tanoro opened #193 "Failed to solve: rpc error: code = Unknown desc = failed to solve with frontend dockerfile.v0"
Trying to build image for: mcr.microsoft.com/windows/servercore/iis:ltsc2016

Dockerfile:

[code]

Results:
[code]

[2021-11-30 18:45] ecclejau opened #194 "Default App Pool crashes when enabling 32 bit support"
Ultimately I want to package an existing WCF application as a docker image.  I noticed that setting the `enable32BitAppOnWin64` to true causes the service to return HTTP 503.

The system event log on the container contains five entries from the `WAS` source with the following message:

Followed by an entry:

When the container is first started, attaching to the container (`docker container exec -i

[2021-12-07 19:58] ecclejau commented on #194
On further investigation it looks like the last tag that works when `enable32BitAppOnWin64` is set to True is `20200114-windowsservercore-ltsc2019`

[2021-12-08 19:41] mthalman opened #195 "Windows License Activation failed in image aspnet:4.8"
@monderino commented on [Wed Nov 24 2021](https://github.com/microsoft/dotnet-framework-docker/issues/855)

### Describe the Bug

I have several asp.net framework apps running in a kubernetes cluster. But since the last friday (19. Nov) on of these apps didn't start anymore because the licence check fails and the IIS process isn't started.

All applications are build on the same dockerfile, only t

[2021-12-08 19:42] mthalman commented on #195
Moved this issue from microsoft/dotnet-framework-docker to microsoft/iis-docker.

cc @John-Hart

[2021-12-10 10:39] monderino commented on #195
Hi,

some update on that. I removed all commands from my iis_settings.ps1 file and now it worked again!

[2022-01-10 16:01] brunomptavares commented on #96
Same happens to me!

It's weird, this command works flawlessly:
`
Get-IISConfigSection -SectionPath "system.webServer/defaultDocument" | Get-IISConfigCollection -CollectionName "files" | New-IISConfigCollectionElement -ConfigAttribute @{"Value" = "MyDefDoc.htm"};`

However this one needs the `-confirm:$false`

`Get-IISConfigSection -SectionPath "system.webServer/defaultDocument" | Get-IISConfigCol

[2022-02-23 06:15] triynko commented on #148
This is preventing tasks from launching correctly in AWS ECS, using the microsoft base image.

[2022-03-21 14:31] jkrnl commented on #175
Any update on this?

[2022-04-26 12:30] SergeyFilippov commented on #187
For now the best solution I've found is installing "pwsh" aka Powershell 7 into a base image (mcr.microsoft.com/windows/servercore:ltsc2019) and then using "pwsh" instead of "powershell" for all the dockerfile commands.

[2022-05-23 14:25] rcass1 opened #197 "Execute script for dynamic content"

[2022-06-09 12:50] #197 closed

[2022-06-18 18:37] richlander opened #198 "Create sample or instructions on how to enable HTTP/2"
I'm looking for a sample Dockerfile. This is intended for use with Windows Server 2022.

Context: https://docs.microsoft.com/aspnet/core/grpc/supported-platforms?view=aspnetcore-6.0#supported-aspnet-core-servers

[2022-09-01 18:14] microsoft-github-policy-service[bot] opened #200 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-09-02 07:26] BrunoJuchli commented on #161
In my case the error was fixed by using `RUN` instead of `CMD`

[2022-09-22 13:32] #194 closed

[2022-09-22 23:04] #200 closed